[2016-07-01 14:38] Stebalien opened #2 "Reduce flicker"
Don't redraw the screen until you have enough text fo fill it. Otherwise, the terminal flickers when searching large directories (e.g., the rust project).

[2016-07-01 14:40] Stebalien opened #3 "Ignoring files"
It would be nice to be able to ignore certain files (e.g., dotfiles). It would be really nice if fzf-rs could read .gitignore etc (like ack, ag, and friends).

[2016-07-01 14:54] Stebalien commented on #3
Somewhat related: For dot files, it would be nice if they were ignored by default *unless* I type `/.`. For example `myproj/.` would list all dot files in, e.g., `my_myproj`. The tricky part here would be to avoid searching hidden directories until needed

[2016-07-02 00:39] lotabout commented on #3
@Stebalien fzf-rs will read an environment variable and invoke it to fetch the input:
[code]

[2016-07-02 00:45] lotabout commented on #3
For the dotfiles, currently fzf-rs is designed to be a general search utility, so it shouldn't and couldn't change the input source.

It is really handy to toggle showing hidden files by the input. If the input source provides all files(including hidden ones), we might hide them by default and show them when the query matches some form. Anyway I'll try to investigate that.

[2016-07-02 15:38] Stebalien opened #4 "Exit with a non-zero status on cancel"
This makes it easier to determine if a file was selected.

[2016-07-02 15:43] Stebalien commented on #3
Ah. I didn't realize fzf was a general purpose menu.

You could have a  `--hide-unless-match REGEX` flag (poor name, sorry) that hides all strings matching `REGEX` unless the input string matches `REGEX`. For hidden files, one could use `--hide-unless-match '\(^\.|/\.\)'`.

[2016-07-04 02:05] #4 closed

[2016-07-05 01:42] lotabout opened #6 "Change the name of the project"
Change the name to `skim`.

The reason that I want to change the name is:
1. `fzf-rs` will be easily confused with `fzf` which is the Go version.
2. `fzf-rs` is hard to type and not beautiful.

As [hoodie](https://users.rust-lang.org/users/hoodie/activity) suggests, `skim` sounds a great name for me.

[2016-07-05 02:01] lotabout commented on #6
Still need to add demo image, so keep it open.

[2016-07-09 18:10] dpc opened #9 "Option to search in the file content?"
This is an idea/feature request that might be quite a big in scope.

I wish instead of searching just in the file name, the content would be searched (just like in `ag` or `ack`). It is obviously much heavier operation, but for software projects, etc. might be totally feasible.

I wish I could replace `ag` with `skim`, since I like the interactive interface better.

[2016-07-10 07:40] hoangtranwork opened #10 "look likes skim is not buildable at the moment"
I tried with nightly rust and there's alot of compile error, recorded here https://asciinema.org/a/5i8k8fzisxhpv1d4yyt73yi0y

[2016-07-10 08:34] lotabout commented on #10
@hoangtranwork I noticed that you abort the compilation with `Ctrl-C`. Please be patient and wait for the compilation to end. The shown messages are warnings not errors which should not affect the compilation.

Note that the compilation process is a bit slow. Sorry for that.

[2016-07-10 11:42] lotabout commented on #9
@dpc Nice suggestion!

I think it is a good way to search file contents interactively. However I don't think skim have such features built in, may be we could provide the interactive interface for invoking commands(e.g. `ag` or `ack`) and show the results dynamically.

I mean we should take advantage of current great tools and skim should be an general interface for them. Though, this may not be s

[2016-07-10 16:29] dpc commented on #9
That would - being able to display results from other commands.

[2016-07-11 02:22] #2 closed

[2016-07-12 06:30] #10 closed

[2016-07-13 02:55] lotabout opened #15 "ANSI color code support"
This feature tries to interpret ANSI color codes of the input.

**What is ANSI color code**
ANSI color code is kind of escape sequence that can be used to control the color of the terminal so that we can print out color text with simple strings. For example: `echo -e "\x1B[1;30;47mABC"` will print "ABC" as bold, black foreground color, white background color.

**Why is it useful**
As proposed in #

[2016-07-14 10:00] #15 closed

[2016-07-14 10:16] #9 closed

[2016-07-14 10:30] lotabout commented on #9
Now we can use `skim` as an interactive interface for invoking commands

Example: `skim -c 'ag --color "{}"' -i --ansi`

It will replace `{}` with the query you type and invoking command `ag` dynamically. `-c` to specify the command, `-i` for `interactive`, `--ansi` for parse ANSI color codes. Of course other commands can be specified.

[2016-07-14 13:20] lotabout opened #18 "Unicode chracters in query are not interpret correctly"
Some characters are correct(like '中'); some others are incorrect(like '国').

[2016-07-14 13:49] lotabout commented on #18
Well, it turn out that almost all unicode characters cannot shown correctly, '中' is just a lucky character. Not only query area, the item area cannot show either.

The root cause is: Locale for ncurses did not set correctly. It is actually modified when I trying to make singleton for curses in skim. And locale setting must comes before `new_term` or `initscr`.

[2016-07-14 13:51] #18 closed

[2016-07-14 17:27] dpc commented on #9
Nice!

[2016-07-20 06:55] lotabout commented on #6
Main usage
![main](https://cloud.githubusercontent.com/assets/1527040/16977618/cc75fd3c-4e89-11e6-9b4a-133f3a3ed616.gif)

Interactive mode
![ag](https://cloud.githubusercontent.com/assets/1527040/16977634/e03c9484-4e89-11e6-8255-69394964cb90.gif)

[2016-07-27 00:33] #6 closed

[2016-07-28 14:32] leodasvacas opened #23 "Search inside text files"
It would be cool to be able to match text inside text files.

[2016-07-29 01:40] lotabout commented on #23
@leodasvacas Could you describe your expectations in more detail?

BTW, skim has an `interaction mode` which allows you to use it as an interface to invoke other commands such as `ag`. I don't know whether #9 is what you want or not.

[2016-08-03 00:06] leodasvacas commented on #23
That's what I want and it's well explained in the readme, thanks!

[2016-08-03 00:06] #23 closed

[2016-11-03 10:33] hh9527 opened #25 "Will this greate project support windows?"
At least, can avoid features which block in windows?

[2016-11-05 00:10] lotabout commented on #25
Thanks!

But sorry that windows will not be supported. The main reason is `skim` depends on `ncurses` to show the search result(UI) which does not support windows...

[2016-11-27 10:34] codri opened #26 "Integration with ripgrep(rg)"
Hi,

I'm trying to use skim with https://github.com/BurntSushi/ripgrep instead of Ag.
I've modified the Ag example command to `sk --ansi -i -c 'rg "{}"'` and the search seems to work.

Though there are a few things that I've noticed, and would be great to have them working.

Line numbers don't show up. Neither when searching nor when then the result is returned.

Let's say we have a folder `test`

[2016-11-27 13:12] lotabout commented on #26
@codri For the first part, both `rg` and `ag` will behave differently if piped into some other programs.

[code]

That means "line number not shown" may be a feature of `rg`, not caused by `skim`.

---

For Integrating `skim` to vim, I have a fork of `fzf.vim`: [skim.vim](https://github.com/lotabout/skim.vim) that integrate `skim` with vim, it provide a command `:AG <pattern>` that enables you to

[2016-11-27 14:11] codri commented on #26
Thank you, @lotabout . It looks like rg requires the `--line-number` parameter to work as Ag.

This command has the same behaviour as Ag `sk --ansi -i -c 'rg --line-number "{}"'`. As for vim integration. I was looking for something like `Ctrl-T` in FZF, type vim in the command line then sk and rg would allow me to find the wanted file, with line. Not from inside vim. Not entirely sure how to make

[2016-11-27 14:22] lotabout commented on #26
@codri `skim` will output the contents just like other traditional Linux filters, that means you may pipe the output to other filters, like:

[code]

And perhaps bind it to anything you like. (Actually I not so good at key bindings in shell, so, good luck!)

[2016-11-27 14:28] codri commented on #26
Yep. I'm looking at how this is done in FZF: https://github.com/junegunn/fzf/wiki/Examples-(completion)

Maybe will come up with something working.

[2016-11-27 14:28] #26 closed

[2016-11-27 14:51] codri commented on #26
One again, thank you @lotabout . Your solution is indeed working, as expected.

[code]

It finds the file, and opens it in vim, at the desired line. This is indeed a killer feature, that I'm going to use, over just using FZF.

[2016-12-02 10:21] quite opened #27 "Building fails"
Unfortunately I know nothing about rust. Tried building both with --release and without.
[code]

[2016-12-02 12:32] lotabout commented on #27
@quite You'll need "nightly" version to build. [rustup](https://github.com/rust-lang-nursery/rustup.rs#working-with-nightly-rust) can be used to install and manage rust versions.

If, however, you only want to get the binary version, you can download it in the ["Release" Tab](https://github.com/lotabout/skim/releases)

[2016-12-02 12:45] quite commented on #27
That did it. I could not run the binaries because of some so-lib mismatch with curses (on my fresh Arch Linux).

[2016-12-02 12:45] #27 closed

[2016-12-03 23:16] quite commented on #27
Na... did I get a too fresh nightly on Arch Linux AUR? :)

[code]

[2016-12-04 09:46] lotabout commented on #27
@quite Sorry for the delay. It is the problem of `skim`, some API changes of ncurses causes the build error.

I've fix it on the master branch, please update the source code and build again. Thanks!

[2016-12-04 10:13] quite commented on #27
That's life on the bleeding edge :) thx

[2016-12-06 03:51] CallumHoward opened #29 "Add brew install method to readme"
https://github.com/sbdchd/homebrew-skim

:)

[2016-12-06 13:51] #29 closed

[2016-12-14 00:51] CallumHoward opened #30 "[Feature Request] --reverse"
fzf has a `--reverse` option that reverses the orientation. This option would be nice in skim

[2016-12-14 01:07] CallumHoward opened #31 "How to use theme"
source makes reference to a dark theme here:
https://github.com/lotabout/skim/blob/master/src/curses.rs#L263-L277
How can it be used?

[2016-12-14 01:09] CallumHoward commented on #31
Oh, I assume this is used if the terminal supports 256 colors.

[2016-12-14 01:09] #31 closed

[2016-12-14 01:10] CallumHoward commented on #31
I would like to change the theme without forking if that is possible

[2016-12-15 01:51] lotabout commented on #30
@CallumHoward Thanks for the suggestion.
Would you please give me an use case when this option is helpful?
I myself use the default orientation all the time. Thanks

[2016-12-15 06:13] CallumHoward commented on #30
Thanks for a great utility! Here is my use-case:
I have the following function in my .zshrc
[code]

where `rg` is [ripgrep](https://github.com/BurntSushi/ripgrep) a faster version of Ag or grep. This allows me to perform very fast fuzzy `cd` straight into a deep directory in a large project. It is commonly one of the first commands I will use in a new shell. On top of this, I am fairly compulsive

[2016-12-17 08:06] #25 closed

[2017-01-03 07:25] lotabout commented on #30
@CallumHoward You can try the latest release(v0.2.0) for the `--reverse` feature.

[2017-01-03 07:34] CallumHoward commented on #30
Perfect! Thank you.

[2017-01-03 07:34] #30 closed

[2017-01-03 09:33] lotabout opened #35 "Update materials for version 0.2.0"
This issue mainly serves as a placeholder for uploading demo GIFs.

[2017-01-03 09:41] lotabout commented on #35
The updated main demo.

![skim-demo-normal](https://cloud.githubusercontent.com/assets/1527040/21603846/09138f6e-d1db-11e6-9466-711cc5b1ead8.gif)

Interactive mode:
![skim-demo-interactive](https://cloud.githubusercontent.com/assets/1527040/21603930/655d859a-d1db-11e6-9fec-c25099d30a12.gif)

[2017-01-16 03:00] Phrohdoh opened #36 "How do I use it with vim (ctrl-p)?"
Because let's be honest this is where fuzzy-file-finding saves us the most time. :-)

[2017-01-16 05:35] quodlibetor commented on #3
I'm not sure how you're walking files and directories right now, but the [`ignore` crate from ripgrep](https://github.com/BurntSushi/ripgrep/tree/master/ignore) could probably help implement this.

Running just `sk` now by default includes all the `.git` files as well as the duplicate directory tree created by IDEs, which is a little unfortunate.

[2017-01-16 05:53] akiradeveloper opened #37 "couldn't compile what's wrong?"
I just tried to compile this software but failed. What's wrong?

[code]

[2017-01-16 06:43] lotabout commented on #37
@akiradeveloper You will need a `nightly` version of `rustc` to compile.

In case you haven't tried, you can use [rustup.rs](https://www.rustup.rs/) to manage rust versions.

[2017-01-16 06:50] lotabout commented on #3
@quodlibetor Thank you very much for the information, good to know that!

The above information is a little old. By default, `sk` run `find .` to retrieve the file list. You can overwrite the command by setting the environment variable `SKIM_DEFAULT_COMMAND`. For example, you can utilize the `git ls-tree` and `ag` command by: `SKIM_DEFAULT_COMMAND=(git ls-tree -r --name-only HEAD || ag -l -g "")`.

[2017-01-16 07:02] akiradeveloper commented on #37
@lotabout Thanks! solved

[2017-01-16 07:02] #37 closed

[2017-01-16 11:30] xpayn opened #39 "Search syntax doesn't work"
Hi,

I just discovered skim on reddit and installed it via homebrew on macos sierra.
I've set SKIM_DEFAULT_COMMAND='rg -l ".*"'
when i execute skim on the command line, typing `sk`, using `'`, `^` or other search syntax doesn't work at all (no more matches)
iirc it doesn't work with the default command either.

[2017-01-16 11:38] xpayn commented on #39
it seems that the homebrew version is older (0.1.2) than the current.
maybe this syntax wasn't supported at that time
i filled an issue on the formula repo

[2017-01-16 16:05] gezpage commented on #36
Just use `:SK` to open the fuzzy finder and away you go!

[2017-01-16 20:02] xpayn commented on #39
the formula points now on 0.2.0 which has a working search syntax but is somehow limited:
it seems you cannot combined searches like for instance `^src cpp$ abc` which works in fzf
i guess the space character is matched against like any other character which is not what `fzf` seems to do

[2017-01-16 21:48] SirVer commented on #39
Thanks for writing this! I like fzf, but I have trouble getting it to run on ARM, so I am really hoping
I can add some more examples where skim is not giving the results I expect. I compare `sk -m` vs `fzf -m` in the [Widelands](http://bazaar.launchpad.net/~widelands-dev/widelands/trunk/files) repository.

1) `srcanim` gives similar results (fzf: 34 matches, sk: 35). Annoying is that sk starts eve

[2017-01-16 21:50] SirVer opened #40 "Toggle between regular expression searching while running"
Sometimes I start a search in plain mode and while searching I realize that a regex would be nice. Intuitively I hit `ctrl-r` expecting this to get me into regex search mode, but apparently this gets me into `rotate-mode`.

1) What is `rotate-mode`? It seems not documented.
2) Please consider making a mode to switch to regex search.

[2017-01-16 22:15] SirVer opened #41 "Does not build on arm"
The code assumes char is signed.
[code]

[2017-01-17 01:41] #41 closed

[2017-01-17 01:52] lotabout commented on #39
@xpayn Yes, you are right, currently combined search is not supported. But it will in the future.

[2017-01-17 02:03] lotabout commented on #40
@SirVer Thank you for your suggestion.
1. `rotate-mode` is for switching between `interactive mode` and `non-interactive mode`.
2. I will consider about it. One concern is do we need to convert the extended query syntax(e.g. `^prefix` or `postfix$`) into corresponding regex when switching. That would complicate things.

[2017-01-17 03:08] CallumHoward opened #45 "Interactive mode colors with Ripgrep"
It seems colors are not working with `rg` as they do in `ag`. Here are some screenshots to illustrate:

Invoked Commands
![](http://i.imgur.com/q8FR5cU.png)

Appearance in interactive mode
![](http://i.imgur.com/WkMCq9w.png)

Normal appearance in shell
![](http://i.imgur.com/bEjnKFC.png)

Here is the ag output from `... | cat -evt`
[code]

and here is the output for the same with rg:
[code]

I am

[2017-01-17 03:26] CallumHoward commented on #36
I'm having some issues using https://github.com/lotabout/skim.vim (seems like there is no issue tracker for GH forks?)
When trying `:SK` i get `E492: Not an editor command: SK` and when trying `:Files` , I get
[code]

I'm using neovim v0.2.0-4-g9e56278 on macOS Sierra, installed `lotabout/skim.vim` using `dein`.

[2017-01-17 03:32] lotabout commented on #45
@CallumHoward Thanks for report the issue. I can reproduce it locally. I'll investigate what happened.

[2017-01-17 03:34] zkanda opened #46 "Key Binding for the Terminal"
Hi, how do I setup skim with something like this: https://github.com/junegunn/fzf#key-bindings-for-command-line

[2017-01-17 06:19] SirVer commented on #40
1. this should probably be called `toggle-interactive` then.
2. I would not overthink this - I was not expecting the toggle to keep the current filtering, just the current string. In fact keeping the string is more intuitive than attempting a conversion IMHO.

[2017-01-17 07:22] lotabout commented on #46
@zkanda You can check fzf's source code under: https://github.com/junegunn/fzf/tree/master/shell

[2017-01-17 14:54] #45 closed

[2017-01-17 16:01] quodlibetor commented on #3
Ah, cool, `SKIM_DEFAULT_COMMAND='git ls-tree -r --name-only HEAD || rg --files'` is exactly what I wanted. Your desire for separation of concerns is completely reasonable.

[2017-01-18 00:36] CallumHoward commented on #45
Thanks!

[2017-01-18 01:58] lotabout commented on #36
@CallumHoward You would need to install `skim` in order to use `skim.vim`.

Sorry I don't use `dein`, here is the `vim-plug`'s version:

[code]

- `skim` itself contains the `:SK` command and `skim#run` function
- While `skim.vim` contains other utilities built upon `skim`, including `:Files`, `:Buffers`, etc.

Note however that `skim.vim` is only a fork that I use for myself. Currently I don't ha

[2017-01-18 02:12] CallumHoward commented on #36
Thanks, I was able to get it working with the above information and also with [this comment](https://github.com/Shougo/dein.vim/issues/74#issuecomment-237198717).
I ended up with the following:
[code]

[2017-01-18 13:26] birkenfeld opened #48 "Readme: recommend rg"
... before ack/ag :)

[2017-01-18 17:40] dead10ck opened #49 "Compile on stable"
I've noticed a couple of issues about failing to compile already, but I feel it should be possible to compile on stable Rust. I'm not sure what the `io` feature is (it doesn't seem to be listed in the reference or anywhere my google-fu can reach), so I'm not sure how heavily this project depends upon it, but if there's a way to get around it, it would be great to have binaries built with a *stable

[2017-01-19 09:19] #39 closed

[2017-01-19 13:34] #40 closed

[2017-01-19 13:37] #48 closed

[2017-01-19 13:42] lotabout commented on #49
@dead10ck `skim` use the `io` feature to [fetch the user input](https://github.com/lotabout/skim/blob/master/src/input.rs#L105). More specifically, use the [io::chars](https://doc.rust-lang.org/std/io/trait.Read.html#method.chars) method.

I understand it is annoying that a nightly version is needed to build skim. I'll try to find an alternative solution.

[2017-01-19 14:07] #49 closed

[2017-01-19 16:44] dead10ck commented on #49
Wow, it's very surprising that iterating over characters isn't supported in stable! That seems like a glaring omission. Thank you for your effort to work around it!

[2017-01-24 02:29] supermarin opened #51 "vim Integration with rg is broken"
If a SKIM_DEFAULT_COMMAND is specified, skim breaks after fuzzy selecting a file with:
[code]
The interesting part is that the number `9` increases by 2 each time you try to fuzzy open a file, but starts at 9.
I'll take a look later into this if I find time, but any pointers appreciated.

[2017-01-24 12:30] renstrom commented on #51
Perhaps related to these?

- https://github.com/junegunn/fzf/issues/765
- https://github.com/junegunn/fzf/issues/769

[2017-01-24 17:59] supermarin commented on #51
Yep. After seeing @justinmk's comment, this patch fixes things.. it seems like there's an unused parameter in `on_exit` needed, or the callsite is passing an extra param

[code]

[2017-01-24 18:39] supermarin commented on #51
Fixed in #52

[2017-01-25 02:33] #51 closed

[2017-01-30 18:16] SirVer commented on #40
Toggling to regex mode is a total game changer!! Thanks for this. I switched from fzf to skim now.

[2017-02-01 08:54] Byron-TW opened #53 "Would you be interested in a PR which migrates to clap?"
Something I got used to by now is a consistent interface when using a Rust CLI.
In case of skim, it will panic on unknown flags, which like any other panic should probably not happen.

Please let me know in your reply, or close this issue otherwise.
Thanks

edit: realized I was using the old `sk` binary, which was superseded by `sk`, which supports --version.

[2017-02-01 09:23] Byron-TW commented on #53
Sorry, I have to close this issue, as I would probably rather contribute to heatseeker - it seems to provide more useful results for some reason.

[2017-02-01 09:24] #53 closed

[2017-02-03 01:17] lotabout commented on #36
Close because I think the thread contains enough information to solve the issue. Reopen if you need more.

[2017-02-03 01:17] #36 closed

[2017-02-04 17:43] ErichDonGubler opened #54 "Add --height flag a la fzf?"
See [here](https://github.com/junegunn/fzf#layout).

[2017-02-06 09:42] lotabout commented on #54
@ErichDonGubler Thanks for the suggestion!

Would you please show me some use cases of this feature? I myself cannot see why this is necessary.

[2017-02-08 15:18] ErichDonGubler commented on #54
"Necessary" is a strong word, seeing that this is a feature request. I'm not familiar with your design goals. However, consider the difference in flow:

![animation](https://s30.postimg.org/gqo6ypdxd/fzf_height.gif)

What `--height` does in `fzf` is disable full-screen behavior and puts fuzzy-finder search UI into the terminal  inline. It's far more friendly to flow when a tool like `sk` *doesn't*

[2017-02-09 02:45] hh9527 commented on #25
Maybe https://github.com/ihalila/pancurses will help to support windows.

There is a TUI project (https://github.com/gyscos/Cursive) rely on this.

[2017-02-26 14:48] cjgu opened #56 "-c command still running after skim finishes"
When running `sk --ansi -c 'rg --color=always --line-number "{}"'` as suggested in the readme, on directories with lots of files (say one's ~/) the inner command still runs (to completion) after sk has exited.

I am using
[code]

[2017-02-28 08:30] CallumHoward commented on #45
Hi again, still having problems.

I am on the beta-2 release:
[code]

For interactive mode, here is what it looks like with `sk --ansi -i -c 'ag --color "{}"'`, this is fine:
![](http://i.imgur.com/Xz9hCo8.png)

But with `sk --ansi -i -c 'rg -S -n --color=always "{}"'` I'm getting:
![](http://i.imgur.com/0r7EjD3.png)

And git grep: `sk --ansi -i -c 'git grep -i -n --color=always "{}"'`:
![](http:/

[2017-03-06 01:48] lotabout commented on #45
@CallumHoward strange enough, I cannot reproduce the issue.

Would you please [download the binary files](https://github.com/lotabout/skim/releases) directly and try it again?

Here is my local screenshot on `sk --ansi -i -c 'rg -S -n --color=always "{}"'`

![tmp38](https://cloud.githubusercontent.com/assets/1527040/23594105/0d41e764-0252-11e7-9b82-7895cac605a1.png)

[2017-03-06 05:16] CallumHoward commented on #45
Ok, downloading the binary files works just fine! Strange, the binary works, but cloning the repository and building seems not to work. Both return `0.2.1-beta.1` when  `./sk --version` or `bin/sk -- version` is run.

[2017-03-11 00:21] #35 closed

[2017-04-04 04:28] lotabout commented on #56
@cjgu Very sorry for the late reply. Did not have much time to care about it.
Would you please try out the latest version of `sk`: [0.2.1-beta.2](https://github.com/lotabout/skim/releases/tag/v0.2.1-beta.2).
I've tested on my MBP and cannot reproduce your issue.

[2017-04-09 07:50] cjgu commented on #56
I can still reproduce it with latest master (cloned repo, cargo build --release, with rust from rustup:
[code]

by running:
[code]
after quitting (not selecting a file), with Ctrl-C, I still have rg running, consuming lots of cpu:

[code]

[2017-04-19 09:08] xianzhon opened #57 "Can not paste contents when integrated with tmux"
I used in tmux, and type `sk` for search some file in terminal, I already copied the filename in clipboard.
Then paste it with tmux pasting shortcut, the content is not pasted to sk's input.
I tried fzf, there is no paste problem from tmux.

[2017-04-19 12:09] #56 closed

[2017-04-20 04:05] xianzhon commented on #57
I build from source code and this issue not exists. Sorry for inconvenience.

[2017-04-20 04:05] #57 closed

[2017-06-13 09:56] lotabout commented on #46
I've copied the shell scripts from fzf, you can checkout the `shell-binding` branch: https://github.com/lotabout/skim/tree/shell-binding/shell

But I won't include them in the `master` branch, mainly because I have no time to maintain these scripts.

[2017-06-13 09:56] #46 closed

[2017-09-05 09:49] lotabout commented on #54
It's been a lot of time since the issue was opened. It was until recently that I got time to investigate how to implement this feature. Yet it is bad new here.

1. `ncurese` will erase the content when it is initialized. That means as long as `skim` use ncurses, this feature cannot be implemented.
2. I do found a library [termion](https://github.com/ticki/termion) that support this feature (won't

[2017-09-15 14:07] lotabout commented on #54
Now this feature is added in the `master` branch. I use [termion](https://github.com/ticki/termion) to implement it.

It is actually a big change to replace ncurses-rs with termion. More test is necessary.

[2017-09-15 14:07] #54 closed

[2017-09-21 03:21] lotabout opened #62 "Update materials for version 0.3.0"
![snapshot2](https://user-images.githubusercontent.com/1527040/30677573-0cee622e-9ebf-11e7-8316-c741324ecb3a.png)

[2017-09-22 13:02] #62 closed

[2017-10-01 19:09] nick-benoit14 commented on #3
What is thought about adding a line like this to the vim plugin?
[code]
That way the seperatation of concerns is still maintained, and the common use case for vim users is met out of the box?

[2017-10-02 18:33] thalesmello opened #63 "History of command for interactive mode?"
When using interactive mode, is there a way of access the history of input?

[2017-10-05 11:07] lotabout commented on #3
@nick-benoit14 Thanks for the suggestion!

By setting default command, user might met situation where a file is not committed and thus cannot be found by skim.

Not setting default command, user will find it OK for the first time and find it inconvenient for the rest of time(if they are using git).

To me, the default options are hard to choose. It is about the balancing the use cases. This time I

[2017-10-05 11:08] #3 closed

[2017-10-05 11:11] lotabout commented on #63
@thalesmello Current there isn't, I'll consider it when I got time.

[2017-10-26 02:30] simnalamburt opened #65 "Proposal: Delete skim.vim repo and recreate it."
Hi! I'm an enthusiastic fzf user, and so glad to heard that someone reimplemented fzf in Rust!

I recommend you to delete the [skim.vim](https://github.com/lotabout/skim.vim) repository and recreate it as a plane repository (not as forked repository) for the sake of SEO. Currently, forked repository is not able to be searched in GitHub.

<img width="1188" alt="2017-10-26 10 52 57" src="https://use

[2017-10-27 01:58] lotabout commented on #65
@simnalamburt Thank you very much for your proposal! I've already recreated [skim.vim](https://github.com/lotabout/skim.vim).

[2017-10-27 01:58] #65 closed

[2017-10-31 10:43] gilbertw1 opened #66 "Passing an initial query using '-q' doesn't work as expected in interactive mode"
When running skim in interactive mode and providing an initial query '-q', the query does not show up in the input prompt and the initial query is not provided to the command, but instead is applied using skims fuzzy matching logic.

For example running:

    sk -i -q 'test' -c 'ls -la | grep "{}"'

will result in 'test' being fuzzy matched against the results of running the command with empty inp

[2017-11-01 02:33] #66 closed

[2017-11-01 02:34] lotabout commented on #66
@gilbertw1 Please use `--cmd-query "<content>"` for specifying query for commands.

[2017-11-01 10:16] gilbertw1 commented on #66
Works perfectly, thanks for the quick turnaround!

[2017-11-23 12:01] emoon opened #67 "libskim"
Hi,

Thanks for a great tool! I thought about integrating it in another tool (to match files within a UI) and for me having it as a separate crate would be great! I wonder if you have any plans of separating out the code into a separate crate (which you can also use) but other (Rust) projects can depend on.

[2017-11-24 02:24] lotabout commented on #67
@emoon Glad that you like it!

Could you please explain more about your ideas of integration?

As far as I can tell:
1. It is easy to turn the fuzzy searching algorithm into library. Yet crates.io already have many similar crates.
2. Other parts of skim are bound together for now. Skim will need to read in the data asynchronously and cache the data for output, read in user input from terminal and

[2017-11-24 08:05] emoon commented on #67
Yeah I guess you are right. I didn't think there were more similar ones around already so it might be better for me to take a look at those and build from that :)

Thanks!

[2017-11-24 08:05] #67 closed

[2017-11-26 14:29] nnovikov opened #68 "Set CWD as command argument"
Is it possible execute sk with workdir argument?
sk /tmp/ for example.

[2017-11-27 00:37] lotabout commented on #68
@nnovikov Not possible.

Depends on what you want to achieve, you could try `cd /tmp && sk`.

[2017-12-05 13:49] lotabout commented on #68
If you have any further question, please reopen this issue.

[2017-12-05 13:49] #68 closed

[2017-12-05 14:09] nnovikov commented on #68
I don't have question, but I think
`vim $(sk /tmp)`
is better then
`vim /tmp/$(cd /tmp; sk)`

[2017-12-05 14:55] lotabout commented on #68
@nnovikov skim is a generalized filter, that makes it strange to be able to set CWD.
- This may make you feel more comfortable: `vim $(find /tmp | sk)`
- Or if you are looking for vim support, please try out [skim.vim](https://github.com/lotabout/skim.vim) as well.

[2017-12-05 15:05] nnovikov commented on #68
Generally, you don't need set CWD, I simple use CWD for explanation only.
`vim $(find /tmp | sk)` is longer then `vim $(sk /tmp)` and you dont need use find for current dir, but why sk can't show files not in current dir, but in specific path?
I can write code for it, if you want.

[2017-12-28 15:21] allan-simon opened #69 "integration for zsh"
it would be great if there was some way easy way to plug skim to the auto-suggestion engine of zsh

[2017-12-28 15:50] polyzen commented on #69
[This](https://github.com/lotabout/skim/blob/master/shell/key-bindings.zsh#L60) should be it.

[2017-12-29 08:14] lotabout commented on #69
@allan-simon skim had a branch [shell-binding](https://github.com/lotabout/skim/tree/shell-binding/shell) that adapts the scripts of fzf to skim. Please have a try.
I myself know little about bash/zsh scripts, thus won't maintain the scripts.
BTW. PRs are very welcome.

[2018-01-15 20:40] magnetophon opened #70 "feature request: allow overriding of arguments in SKIM_DEFAULT_OPTIONS"
When I set
[code]
I can not do
[code]
anymore.

fzf allows this, and it can be very handy.

[2018-01-15 20:50] magnetophon opened #71 "feature-request: allow all fzf options"
It would be great if this was a drop in replacement for fzf, so could do ``alias fzf=sk`` and it'd just work.

A way to get closer to that goal would be to allow currently not implemented fzf options and just ignore them.

For example:
[code]

[2018-01-15 21:04] magnetophon opened #72 "diff-so-fancy in preview is not rendered properly"
I have some commands that preview git diffs trough [diff-so-fancy](https://github.com/so-fancy/diff-so-fancy), but they are not rendered properly.

Example command:
[code]

Output with fzf vs with sk:
https://imgur.com/a/CL1XO

[2018-01-15 21:16] magnetophon opened #73 "feature request: execute action for binding"
Another fzf feature: bind a key to a shell command.
See: https://github.com/junegunn/fzf#executing-external-programs

[2018-01-17 04:13] lotabout commented on #69
Inactive for long time. Close for now. Re-open if you have further questions.

[2018-01-17 04:13] #69 closed

[2018-01-17 04:25] lotabout commented on #72
@magnetophon I checked the image you attached, and I think `skim` renders properly while `fzf` does not.

If possible, please attach the raw output(image) by `diff-so-fancy`.

[2018-01-17 13:33] magnetophon commented on #72
@lotabout I don't understand. The lines above and below the modified file are interrupted by skim.
fzf renders them like the [screenshot](https://user-images.githubusercontent.com/3429760/32387617-44c873da-c082-11e7-829c-6160b853adcb.png) on the project page.

In the images I originally linked, the first one is fzf, the second skim.

[2018-01-17 15:01] lotabout commented on #72
@magnetophon Oh, now I see the problem. I thought it was the highlighted content.
I'll have a check.

[2018-01-18 02:32] lotabout commented on #72
The root cause of this issue is the width calculation of character `─`. There are some characters that are ambiguous in the columns that they occupies according to [Unicode® Standard Annex #11](http://www.unicode.org/reports/tr11/).

skim use the crate [unicode-width](https://unicode-rs.github.io/unicode-width/unicode_width/trait.UnicodeWidthChar.html) to calculate the columns. And previously it u

[2018-01-18 02:41] #71 closed

[2018-01-18 02:41] #72 closed

[2018-01-18 12:02] magnetophon commented on #70
Great, thanks!

[2018-01-18 12:03] magnetophon commented on #72
Great, thanks!

[2018-01-18 12:04] magnetophon commented on #71
Great, thanks!

[2018-01-18 13:12] magnetophon commented on #70
I just tested 0.3.2, and I'm still getting:
[code]

[2018-01-19 02:07] lotabout commented on #70
@magnetophon Currently only the options that takes values will be allowed to accept multiple values.
Em.. I'll think if other options will be necessary.

[2018-02-09 17:38] bryaan opened #77 "On large lists scroll continues beyond keypress"
Replicate:
1. Use `git branch --all  | sk` on a repo with at least 80 branches
2. Hold up or down arrow to scroll, hold for 2 seconds or more, and release
3. Observe the selection continues to scroll for another 2-3 seconds

Interestingly, `rg --files | sk` scrolls fine with more than 500 files.

Anyone else experiencing this?  (using fish shell latest version)

**Update:**
After managing to get t

[2018-02-09 19:03] bryaan opened #78 "skim panic - attempt to unwrap None value"
Using a function like this and selecting some process (just tried random until it broke) as skims' selection produces a panic:

[code]

[code]

[2018-02-10 01:19] lotabout commented on #78
@bryaan How frequent does this problem occur? I tried it over 100 times and cannot reproduce it.

Actually I've met this problem some times, but the frequency is quite low I could not find the correct way to reproduce it, thus finally give up to fix it. But if you have some "stable" way to reproduce it, I'll fix it.

[2018-02-10 01:22] lotabout commented on #77
@bryaan Since you mentioned that it only happens on `git branch --all`, could you share the repo that this problem occurs? Or find another repo that could replicate the issue with public access.

[2018-02-10 04:07] #70 closed

[2018-02-12 17:35] bryaan commented on #78
@lotabout Pretty often, but I don't see any LCD.  There aren't any obvious issues in the code that parses inputs?  It really looks like that is where it's at - ohhhhhh maybe, just maybe, it has to do with my Nerd Fonts Hack font.  Try using that! Maybe the parser is choking on some wierd character?

Secondly, can you point me to the line and file where this error is occurring? If not, then the fir

[2018-02-12 17:41] bryaan commented on #78
Have you tested for the possibility of empty strings? Isn't that what the error is saying?

[2018-02-12 18:54] bryaan commented on #77
@lotabout I determined this was not related to `git branch`, instead it would seem the inputs from gitbranch may be causing this, but again only intermittently.  I was able to replicate using other commands including just `rg --files | sk`

[2018-02-15 00:12] bryaan commented on #77
I want to say its not skim, the problem is replacing with fzf works just fine.

I did make progress into replication:  If you open a new window and try to run it, it almost always works fine.  But do some work in the terminal for a while and check again.  At that point it seems only opening a new window will fix it, but notably fixes it in both windows, so make sure to check often.

Is there any p

[2018-02-20 02:50] lotabout commented on #78
@bryaan sorry for late reply, I was on a vacation.

Thanks for all the investigation, but the location you point out has relatively low possibility to be the root cause. Otherwise we could reproduce it all the time.

Since the issue happens randomly, I suspect it is related with process creation or something like that. e.g. we need to call `find` and pass the input to other thread of skim, it migh

[2018-02-20 10:17] lotabout commented on #78
@bryaan I've added logs for `expect`s, would you please use branch [issue-78](https://github.com/lotabout/skim/tree/issue-78) and try to log the output on panic? I still failed to reproduce it. Thanks!

[2018-02-22 03:11] lotabout commented on #77
Thanks for the effort for locating the issue.

I just tried out a git repository that had over 10,000 branches + terminator + Nerd Font Hack, and sadly cannot reproduce the issue...

skim will output more ASCII sequences for drawing.

The reason I can think of is that it takes too much time for skim to draw the output while receiving too much input.

I'll leave the issue here and if anyone else me

[2018-04-04 20:46] bryaan commented on #78
@lotabout I'm so sorry but I no longer have that machine.  If it happens again on another one I will post back.

[2018-04-04 20:48] bryaan commented on #77
Hey that sounds like a very possible cause.  Can't that be fixed?

[2018-05-28 19:58] SirVer opened #80 "Reuse as a library?"
I'd like to reuse skim inside my own application. With this, I mean reusing skim as a library. Inside my code, I'd like to pass Skim my sources, hand over control to skim which runs its CLI and once the user selects something, returns the selected items back to me. Mainly these are the features I'd like to have:

- fuzzy finding, including interactivity and options (multi, non-multi).
- providing

[2018-05-28 19:59] SirVer commented on #80
This is related and similar to #67.

[2018-05-29 02:15] lotabout commented on #80
@SirVer The API looks promising. I'll try to create a PoC this weekend.

Besides are you expecting skim to show up multiple times? (i.e. show the sources -> return the result -> show other sources again?) I got a feeling that there might be some obstacles in this scenario.

[2018-05-29 08:09] SirVer commented on #80
Yes, I think having Skim run multiple times per session is in scope, with the caveat that Skim must be able to fully control the CLI, i.e. if I have already a curses object alive, I do not expect this to work.

I also assume that you would need to recreate a `Skim` object to reshow the UI, i.e. `fn query_user(self)` would consume the object.

[2018-06-02 03:11] lotabout commented on #80
Some updates:

**Good news**: I've turned skim into a library, you can check the example here: https://github.com/lotabout/skim/blob/ticket-80/examples/option_builder.rs
Note that:
- To reduce the work, currently skim will accept a `Box<BufRead>` and treat it as the stdin instead of accepting a channel of items.
- Currently skim will return the internal items with output text and the index(number

[2018-06-02 14:04] lotabout commented on #80
Reopen, just found the the code(that uses `pthread_cancel`) did not work under Linux(was tested on OSX).

[2018-06-02 15:53] lotabout commented on #80
In this PR https://github.com/lotabout/skim/pull/82, I use `fcntl` to achieve non-blocking so that we don't need `pthread_cancel` to kill threads anymore.

Now it works.

[2018-06-02 15:53] #80 closed

[2018-06-03 09:07] jbolila opened #83 "utf8 support"
[code]

In the response the utf8 characters aren't showing correctly:

![_empty_filter](https://user-images.githubusercontent.com/728044/40884959-6e5da528-6715-11e8-9317-6f7b84cfcf63.png)

although after the first character everything look fine:

![_empty_filter_one](https://user-images.githubusercontent.com/728044/40884964-899d3bdc-6715-11e8-9ddb-ec6f4e12c16c.png)

[2018-06-03 11:36] lotabout commented on #83
@jbolila It is actually `rg`'s problem. `rg` did not output the correct character with empty pattern and color enabled. Please run the command to confirm its output:

[code]

Normally this doesn't bother me so much, but if it means so much to you `ag` would be a good alternative.

[2018-06-03 13:00] #83 closed

[2018-06-03 13:59] BurntSushi commented on #83
@lotabout Could you elaborate on your suggestion to use ag here? ag returns an error if you provide it with an empty pattern. So how do you even use ag in the first place here?

[2018-06-06 20:29] erszk opened #84 "fields should behave the same as fzf/cut"
To recreate this bug:

1. Create a file with some sample input:
`printf "%s\n" /{0..3}/{4..6}/{7..9} > test.txt`
2. See the output of cut, which includes empty fields such as the first one:
[code]
3. Compare the default behavior of `fzf` and `sk` in this regard:
[code]
When I do this, I see that `fzf` behaves the same as `cut` and `sk` only shows the last fields.

I feel this should be changed to

[2018-06-07 02:03] lotabout commented on #84
@erszk Thanks for the report!

1. Currently skim use git style field expression which excludes last field.
2. It is actually documented here: https://github.com/lotabout/skim#difference-to-fzf

However, I do consider to align the syntax with fzf. I'll consider it as a feature request and keep the issue open.

[2018-06-09 19:29] SirVer commented on #80
Thanks for this, I will definitively give it a shot and report back here.

[2018-06-12 14:50] lotabout commented on #84
Done, bump to version 0.5.0

[2018-06-12 14:50] #84 closed

[2018-07-23 18:55] myimages opened #87 "sequence alignment algorithem"
that is not an issue with Skim but rather a suggestion that worth looking into.

https://github.com/lewang/flx/issues/98

https://github.com/MaskRay/ccls/blob/master/src/fuzzy_match.cc

[2018-08-01 07:59] SirVer commented on #80
I finally had time testing the library support out. It is a great feature, but it is very awkward to use:

- SkimOptions is taking lots of parameters as strings (bind for example)
- I have no control over how items are previewed - I want to turn items into a text preview myself, not rely on external commands.
- Streaming data to Skim via a BufRead (instead of a channel) is an unergonomic interface

[2018-08-01 19:41] SirVer commented on #80
Another issue I just ran into is that as long as the BufReader is generating values, Skim never seems to terminate. To repro, build my small tool:

https://github.com/SirVer/sar/blob/ad8fda3be01bf7a82ce3e72e27382fd7f25e21c8/src/main.rs

You can also see in there how I used an Adaptor to translate between `channel` and `BufReader` to get to an API close to the one I suggested before.

The tool will

[2018-08-27 14:31] aignas commented on #73
Just to show how it would be useful. One can create a nice `git` history browser:
[code]

At the moment skim does not handle this and upon pressing enter it just prints the commit hash and instead I would like to execute the command.

[2018-08-31 13:27] lotabout commented on #78
Close. Feel free to reopen if it appears again.

[2018-08-31 13:27] #78 closed

[2018-09-06 08:38] timvisee opened #89 "Esc key does not work while indexing"
With the current built, pressing any abort key (`Esc` or `CTRL-G`) while indexing file doesn't work. `skim` stays open until all files have been indexed after which it closes.
I would expect to be able to close `skim` while indexing.

It is easy to reproduce this by running `sk` when in the root of your file system. Then, while indexing (which could take a while on big file systems), pressing `Esc

[2018-09-06 08:58] timvisee commented on #89
Apparently the latest `master`  branch is working perfectly fine. So, that's awesome!

In that case it would be great if a new version could be pushed to crates.io.

I'll close this issue for now.

[2018-09-06 08:58] #89 closed

[2018-09-15 16:50] lilydjwg opened #90 "How to pass current line as one argument to the preview command?"
Currently the preview command is invoked by a shell, so when I try to preview a command line (from the history) I can't get it to work correctly because there will be single quotes in the line too. I get syntax errors from the shell when I try to preview complex command line.

[2018-09-16 17:15] lilydjwg opened #91 "--print-query doesn't work when aborted"
My use case: the user starts searching her command history, but doesn't find what she wants. So she wants to start with the query string instead.

skim doesn't print anything when aborted currently.

[2018-09-23 14:52] HongxuChen opened #92 "sk abortion does not work during indexing"
When the directory contains large numbers of files/directories (I have totally more than 2015232 files in home directory), during the indexing procedure, it does not respond to key `ESC/Ctrl-G`.
fzf works correctly in this case.

[2018-09-24 08:50] lotabout commented on #92
@HongxuChen Did you try the master branch? Maybe related to #89 ?

[2018-09-24 08:56] HongxuChen commented on #92
Yes, it's fixed on master. And sorry for not checking past issues carefully.

[2018-09-24 08:56] #92 closed

[2018-10-01 04:32] #90 closed

[2018-10-01 04:35] lotabout commented on #90
@lilydjwg It should be working now in the master branch.

Single quotes are now escaped `'` would become `'\''`. So the following example would work:

[code]

[2018-10-01 14:31] lilydjwg commented on #90
It works now, thanks!

[2018-10-24 01:50] maxice8 opened #95 "Failure to build 0.5.2 against aarch64-musl"
Trying to compile it for aarch64-musl on Void Linux

[code]

[complete log](https://travis-ci.org/void-linux/void-packages/jobs/444902350)

[2018-10-24 03:55] lotabout commented on #95
@maxice8 Quick question: what is the last version of skim that works?

[2018-10-24 04:11] lotabout commented on #95
Em... A quick search guides me to a nix/libc bug: https://github.com/nix-rust/nix/issues/951

[2018-11-02 23:26] s-panferov opened #98 "Get top N matches"
Hello, I would like to implement a search on my documentation website with skim, but I cannot find an ability to just get top N matches in a non-interactive mode. Something like:

[code]

In this case, I want `sk` to return immediately without any user interaction. Is it possible with the current API?

[2018-11-03 03:12] lotabout commented on #98
@s-panferov Unfortunately not possible with current API.

It seems to me that what you want is something like `rg` but with fuzzy search support, right?

Skim is designed to be an interactive searcher so I think it is better to build a new tool for what you need (probably with better performance).

[2018-11-03 04:41] #98 closed

[2018-11-03 04:41] s-panferov commented on #98
Thanks

[2018-11-08 17:57] sudo-nice commented on #73
Also, that would help to turn skim into a lightweight file manager, being able to delete an entry file, or yank its path, e.g.

[2018-11-09 16:02] polyzen opened #104 "zsh history binding malfunctional"
Perhaps I am missing something, but when using the zsh history binding, it doesn't work as before. A couple things I've tried that don't work: `^r` doesn't rotate the mode and `prefix-exact-match`. The search syntax isn't completely broken, as at least the `exact-match` type works.

Said features do work with `sk --ansi -c 'rg --color=always --line-number "{}"'`.

`export SKIM_DEFAULT_COMMAND='fd

[2018-11-10 02:00] lotabout commented on #104
@polyzen

The scripts was taken from `fzf` directly. `^r` in history search was bind to `toggle-sort` which is not supported by skim. I added a commit to remove this binding.

It was caused by the default delimiter. Before the default delimiter of skim was `\t+`, and the history output was like `1022 ls` that is delimited by space. I've changed the default delimiter to awk style (`[ \t\n]+`. It sh

[2018-11-10 03:08] polyzen commented on #104
`^r` did toggle regex mode afaik previously..

[2018-11-10 07:39] lotabout commented on #104
@polyzen Let me confirm my understanding here.

1. Press `Ctrl-r` to start history search.
2. Type `'query` start exact match, expecting exact matches of `query`, right?

Since you mention `-i`, I was wondering if you are expecting exact match in history search or in interactive mode(e.g. `-i`).

[2018-11-12 02:03] tuyenpm9 opened #107 "[Q] speed issue"
Thanks for this port.

I try to test against skim and fzf, probably fzf has better speed compare to skim with same config and pattern.

[2018-11-12 06:32] tuyenpm9 commented on #107
@lotabout: I don't have proper test, this is from visual test with pure `sk` and `fzf` against same pattern. From same FZF_DEFALT_CMD with `fd` excludes pattern in `.gitignore`, I test against `fzf` and `sk` at the same folder to list files, I can visually see delay to display output with `sk` but smoother and faster with `fzf` when displaying the output. A little flick when `sk` displaying output

[2018-11-14 02:43] lotabout commented on #107
Thanks for report. Sorry that I'll close this issue for now.
Skim is not trying to compete with fzf, it is trying to solve real problems. Thus unless there is a real case showing performance becomes an issue, I'll not try to optimize.

[2018-11-14 02:43] #107 closed

[2018-11-26 10:17] atoav opened #109 "Cargo install skim fails on Windows (x64)"
A simple `cargo install skim` fails on Windows 10 x64.

It seems this has to do with termion and a missing sys crate. I am not sure whether skim is even intended to be used on Windows, but I think it is good to know.

[code]

[2018-11-26 10:30] atoav opened #110 "Arrow up will exit list on arbitrary points on ConEmu/CMDER"
When I run `rg --files | sk` and just press <kbd>↑</kbd> multiple times, the list will exit _sometimes_ and leave a `OA` in the line. Because it is kinda hard to explain I recorded a gif:

![skim](https://user-images.githubusercontent.com/6620266/49008095-4e2b7400-f16d-11e8-8472-d13eb2838530.gif)

I tried this both using the Windows Linux subsystem (wsl) with zsh and bash in ConEmu and CMDER. On a

[2018-11-26 14:15] lotabout commented on #109
You are right, Windows is not supported.

[2018-11-26 14:18] lotabout commented on #110
@atoav It might related to the contents. Could you please attach the output of `rg --files`? If it doesn't contains sensitive contents...

[2018-11-26 14:47] atoav commented on #110
Nevermind, I reinstalled ConEmu and it seems to work now. Sorry for wasting your time.

[2018-11-26 14:47] #110 closed

[2018-11-29 13:02] ar1a opened #111 "Shell keybinds from fzf"
With fzf [i can hit ctrl+r to look through history, ctrl+t to select files, etc](https://github.com/junegunn/fzf#key-bindings-for-command-line). How can I achieve this with skim?

relevant file: https://github.com/junegunn/fzf/blob/master/shell/key-bindings.zsh

[2018-11-29 13:09] lotabout commented on #111
Skim had ported fzf's key bindings: https://github.com/lotabout/skim/tree/master/shell, just do what you would do with fzf.

Say you clone skim's repository to `~/.skim`, then source `key-bindings.zsh` in your `zshrc`:

[code]

[2018-11-29 13:09] #109 closed

[2018-11-29 13:16] ar1a commented on #111
thanks! might be useful to add that to the readme :)

[2018-11-29 13:18] #111 closed

[2018-12-14 14:11] runiq opened #113 "(Neo)Vim: :SK doesn't display warning for already opened files"
To reproduce:

[code]

After this, (Neo)Vim freezes. However, the warning window still seems to be there in the background, since I am able to e.g. press `r` to open the file in read-only mode.

[2018-12-19 14:07] lotabout commented on #113
@runiq What do you mean by "freezes"?

I tested what you said, and the second nvim shows warning because the swap file exits. I think it is the expected behavior.

[2019-01-03 05:14] lotabout commented on #95
Won't fix this unless nix supports aarch64-musl.

[2019-01-03 05:14] #95 closed

[2019-01-06 13:49] FinallyFinancialFreedom opened #117 "i encounter a error in interative mode ."
hi, i like skim 's interactive mode, but i encounter a error output:

and then i press some code it still works. by the way, how to make it faster?  i think it's little slower than fzf.vim in vim

[2019-01-06 13:58] FinallyFinancialFreedom commented on #117
`sk --ansi -i -c 'rg --color=always --line-number "{}"'` will cause the problem but `sk --ansi -i -c 'rg --line-number "{}"'` works fine

[2019-01-07 09:19] FinallyFinancialFreedom commented on #117
change `"{}"` to `'{}'` will solve this problem for me

[2019-01-07 09:23] FinallyFinancialFreedom opened #118 "does skim support key-binding to execute external program?"
as fzf has `fzf --bind 'f1:execute(less -f {})` , it's useful for custom function. Does skim only support predefined commands such as abort, cancel, down etc?

[2019-01-07 11:40] lotabout commented on #118
@FinallyFinancialFreedom "execute" is not supported for now, see #73.

[2019-01-07 11:40] #118 closed

[2019-01-12 21:22] vorner opened #119 "Panic on keypress"
Hello

I'm using sk to search through a largish file containing file names. When I press the first key (or, sometimes the second one), I get this panic:

[code]

I suspect some of the filenames aren't correct utf-8 and sk might balk at that?

However, the panic doesn't kill it (but it seems to make it useless, nothing more happens)

(It's the version publish on crates.io)

Any idea how to dig into

[2019-01-12 21:41] vorner commented on #119
A slightly better backtrace, with debug symbols, line numbers and some values.

[code]

[2019-01-14 02:32] lotabout commented on #119
@vorner Thanks for the report. I'll check when I got time.
Besides, it is possible to share the original input? Besides the local variables shown in the stacktrace, the original input would help to understand how it got here.

[2019-01-14 22:00] vorner commented on #119
Sorry, I don't want to share this ono. But I'm willing to run whatever experiments on it, or I might try to create one with similar characteristics if need be.

[2019-01-15 09:15] lotabout commented on #119
@vorner If possible, could you please compile the branch: https://github.com/lotabout/skim/tree/ticket-119 and test?

A previous commit change `from_utf8_lossy` to `from_utf8_unchecked` trying to avoid some overhead on checking utf8 character. Seems it brings much troubles.

[2019-01-15 11:21] vorner commented on #119
Yes, thank you, this has fixed it for me.

[2019-01-15 13:08] lotabout commented on #119
Close this by https://github.com/lotabout/skim/pull/120

[2019-01-15 13:08] #119 closed

[2019-01-15 22:15] 5paceToast opened #121 "^d (EOF) should abort like esc"
EOF in shell-like environments implies "exit".
This is also the default behavior in fzf.

Currently, the documentation marks ^d as bound to "delete-charEOF", and (on my system, running 0.5.2) it seems to simply act as the DEL key.

Here is the expected behavior:
1. ^d sends EOF
2. If the current selection is non-empty, this does nothing (and does not modify the selection)
3. If the current selecti

[2019-01-17 12:42] #121 closed

[2019-02-02 10:51] lilydjwg opened #123 "CPU 100% when input data is not yet generated"
To demostrate:

[code]

And listen to your CPU fan spinning up as strong as possible.

[2019-02-11 10:19] lotabout commented on #113
Close this due to inactive activity, reopen if you have more information.

[2019-02-11 10:19] #113 closed

[2019-02-11 10:22] lotabout commented on #117
Sorry for really slow response. This error is probably related to https://github.com/lotabout/skim/issues/119.

Both works for me for both `zsh` and `bash`, so I suspect it is related to the input. (maybe it contains non utf8 characters?)

[2019-02-11 10:27] #123 closed

[2019-02-11 10:29] lotabout commented on #123
Note that the example: `cat | sk` still won't work correctly:
- It won't consume 100% CPU of course
- But you have no way to exit the program

This is because skim has no way to kill the reader thread directly(limitation of thread APIs). Also the input won't generate EOF since `cat` is waiting for user input.

I decide not to solve this issue for now, basically because I think it rarely happens in

[2019-02-11 11:15] runiq commented on #113
Sorry, I forgot to report back. I was seeing different behavior on my end (i.e. the warning about the swap file was never shown, but the process reacted to keyboard input *as if* it was shown), so I guess it's something to do with my configuration. This issue can remain closed.

Thanks for following up!

[2019-02-12 06:06] lilydjwg commented on #123
Thanks. I don't need `cat | sk` to work, but only to demostrate the issue in a simple way.

[2019-02-19 03:37] jayong93 opened #126 "Can't use interactive mode"
Hi, I tried to use Interactive mode of skim as usage in README (`sk --ansi -i -c 'ag --color "{}"'`, of course I have had `ag`) but I got an unexpected error.

The program started well but suddenly infinitly added blank space to query string. Finally it gave me the error:

I'm using Linux Mint 19 Tara with linux kernel 4.15.0-45-generic. And my shell is zsh with oh-my-zsh. how should I fix it?

[2019-02-20 00:01] lotabout commented on #126
@jayong93 Thanks for report! I have several questions:

- How often does it happen?
- Which version do you use? if possible, could you please use the master branch to reproduce it?
- If possible, could you find out which file could cause this problem?

As the error message suggested, the error happens on writing to the terminal, and the reason is "Resource temporarily unavailable". I have no idea

[2019-02-20 00:48] jayong93 commented on #126
@lotabout It happens every time I execute the program and I use 0.5.2 version skim.

I have done some tests and found interesting things. Not only interactive mode, but it add a blank on start in normal mode too. Also it works well on older version kernel (eg. 4.15.0-20).

I am going to try master branch and if there are same error, I will let you know.

[2019-02-20 00:56] jayong93 commented on #126
The master branch fix it! Thanks!

[2019-02-20 00:56] #126 closed

[2019-02-20 04:42] 5paceToast opened #128 "Test failures with 0.5.3"
I package skim on Alpine Linux (not in edge yet, too busy to get it through the pipeline).
Trying to bump 0.5.2 to 0.5.3 I get two test failures:

[code]

Build Environment: see [APKBUILD](https://github.com/5paceToast/user-aports/blob/master/toast/skim/APKBUILD) (this is still the old 0.5.2 one, I test my builds before committing)

I managed to reproduce this on Arch Linux amd64, so it isn't a mu

[2019-02-20 04:53] lotabout commented on #128
@5paceToast Sure! Thanks for report and I'll fix it ASAP.

[2019-02-20 06:08] #128 closed

[2019-02-20 06:13] lotabout commented on #128
@5paceToast Done. please use v0.5.4.

[2019-02-20 06:27] 5paceToast commented on #128
Can confirm - tests now pass. Thanks :+1:!

[2019-02-21 15:49] ln-nl opened #130 "CPU 100% with --margin=50%"
### Steps to reproduce

[code]

Observe `sk` hanging

## Technical details

[code]

[2019-02-21 15:58] ln-nl opened #131 "--with-nth behavior changed between 0.5.2 and 0.5.4?"
### Steps to reproduce

[code]
Version 0.5.2:
![image](https://user-images.githubusercontent.com/44435420/53182479-40697b80-3602-11e9-8a8f-2ea2e15b16a8.png)

Version 0.5.4:
![image](https://user-images.githubusercontent.com/44435420/53182351-fe403a00-3601-11e9-8729-b39d963e589f.png)

[2019-02-23 01:36] lotabout commented on #131
Thanks for report! I'll file another release soon since it is critical.

[2019-02-23 01:45] #131 closed

[2019-02-23 02:14] #130 closed

[2019-02-23 08:37] ln-nl commented on #131
Thank you!

[2019-02-25 22:57] alexreg opened #135 "What is interactive mode?"
There's not really an explanation of what it is and how to use it. `-i` is always combined with `-c` in the README examples, but what do these options do *individually*? It would be most appreciated it you could amend the README by beginning the section about "interactive mode" with a description of what is actually is, and what it does.

[2019-02-26 01:50] lotabout commented on #135
@alexreg Checkout the following diagram

![skim-interactive-mode](https://user-images.githubusercontent.com/1527040/53381293-461ce380-39ab-11e9-8e86-7c3bbfd557bc.png)

1. Skim could accept two kinds of source: command output or piped input
2. Skim have two kinds of prompt: `query prompt` to specify the query pattern, `command prompt` to specify the "arguments" of the command
3. `-c` is used to spe

[2019-02-26 02:28] alexreg commented on #135
@lotabout Thank you, that's very helpful! Nice diagram too. Maybe consider putting something similar to this in the README? Up to you, of course.

[2019-02-26 07:36] lotabout commented on #135
Sure! Thanks for the suggestion. Close for now.

[2019-02-26 07:36] #135 closed

[2019-03-07 19:17] Avi-D-coder opened #137 "How does the fuzzy search algorithm differ from fzf?"
What are the advantages and disadvantages?

[2019-03-17 06:52] lotabout commented on #87
Sorry for not responding for such a long time. I've finally implemented the algorithm but not satisfied in my own use cases. Thus I won't use it in skim.

If you are interested in the implementation in rust, you could find it in https://github.com/lotabout/fuzzy-matcher/blob/master/src/clangd.rs.

[2019-03-17 06:52] #87 closed

[2019-03-17 06:53] lotabout commented on #117
Close. Please reopen if there are updates.

[2019-03-17 06:53] #117 closed

[2019-03-17 07:04] lotabout commented on #137
Actually I haven't compared them, and personally I don't think it is important.
1. Both use `O(mn)` for searching the optimal positions.
2. Each had its own heuristics on ranking the options.
3. In my own test, fzf is faster on large collections, but skim's performance is acceptable for myself.

[2019-03-17 12:28] 5paceToast opened #139 "0.6.0 release cannot be compiled on stable channels"
So far, the main error I'm seeing is in fuzzy-finder:
```error[E0658]: imports can only refer to extern crate names passed with `--extern` on stable channel (see issue #53130)``` in relation to `/src/util.rs`, typically about this line: `use CharType::*;`.

I'm not sufficiently familiar with cargo's build process here, can this be solved by modifying things on skim's side? (e.g adding an explicit

[2019-03-17 12:45] lotabout commented on #139
@5paceToast which rust version did you use?

[2019-03-17 12:53] 5paceToast commented on #139
@lotabout rust on alpine is currently at 1.31.1
The maintainer hasn't bumped it up to 1.33.0 quite yet, but that's a very recent release.
It'll take even longer for other platforms (such us ubuntu, debian, fedora, and so on) to get a newer version.

Did this behavior change since 1.31.1?

[2019-03-17 13:31] lotabout commented on #139
@5paceToast Fixed. Please checkout 0.6.1.

[2019-03-17 13:31] #139 closed

[2019-03-17 13:40] 5paceToast commented on #139
Can confirm, 0.6.1 compiles (and runs!) successfully.
Thanks!

[2019-03-19 07:45] #137 closed

[2019-03-19 11:25] yantene opened #142 "skim 0.6.1 removes null characters"
Is this in the specifications?

## skim 0.5.5

[code]

## skim 0.6.1

[code]

[2019-03-19 13:19] lotabout commented on #142
Very weird, cannot reproduce in both Linux & Mac OS.
![Snip20190319_1](https://user-images.githubusercontent.com/1527040/54608842-98be5c80-4a8c-11e9-979e-9351c7ec9033.png)

[2019-03-20 00:53] yantene commented on #142
This issue seems to be reproduced by `--ansi` option.

[code]

[code]

I'm sorry I didn't make it clear enough. :pray:

[2019-03-20 01:59] #142 closed

[2019-03-21 05:23] #73 closed

[2019-03-21 05:23] #77 closed

[2019-03-21 05:24] lotabout commented on #77
Close, reopen on any update.

[2019-03-22 06:55] aignas commented on #73
@lotabout, thanks!

[2019-03-22 12:40] agroszer opened #147 "execute {} replace does not support the Fields support ranges?"
seems to act weird, can't determine what's the logic

e.g.:
`execute(echo {2}>/tmp/skim.txt)`

[2019-03-22 13:16] lotabout commented on #147
@agroszer It should work, make sure your delimiter is set correctly by `-d` (default to awk style).

For example:

[code]

Press `enter` key and `/tmp/skim.txt` will output `b c`. Similarly:

[code]

Will output `b,c`.

[2019-03-22 13:32] agroszer commented on #147
oh! yeah I missed `--delimiter ':'`

thx

[2019-03-22 13:32] #147 closed

[2019-03-22 18:39] balta2ar opened #148 "skim wouldn't clear screen in interactive mode"
Coming from this comment: https://github.com/lotabout/skim/commit/77195b916298a645ac971830e94f404ba1ddb1dd#commitcomment-32868073
I've just built skim from master branch and the issue remains, here is the demo (couldn't upload to github since it's larger than 10Mb):

https://imgur.com/rabrKT0

[2019-03-23 02:25] #148 closed

[2019-03-24 17:46] agroszer opened #152 "how to bind to a key combination like shift-ctrl-l ?"
Tried `--bind 'shift-ctrl-l:execute(/opt/sublime_text/sublime_text {..2})` and `--bind 'ctrl-shift-ll:execute(/opt/sublime_text/sublime_text {..2})`, but neither seems to work.

A single modifier works fine.

[2019-03-24 17:46] agroszer commented on #152
https://docs.rs/tuikit/0.2.4/tuikit/key/fn.from_keyname.html isn't very helpful either...

[2019-03-24 23:27] lotabout commented on #152
@agroszer Unfortunately, `ctrl-shfit` combination is not recognized by terminal at all. It won't work.

Btw, you could type `cat` in terminal and then press keys to see the output.

[2019-03-25 04:20] 5paceToast opened #153 "0.6.3 release cannot be compiled on stable channels"
Similar to #139, but this time with 0.6.3.
Here is the error:
[code]

P.S. Skim has now made it into alpine's "edge" rolling release: https://pkgs.alpinelinux.org/packages?name=skim

[2019-03-25 06:55] agroszer commented on #152
thx

[2019-03-25 06:55] #152 closed

[2019-03-25 16:03] #153 closed

[2019-03-25 16:04] lotabout commented on #153
Sorry for causing this trouble, please use 0.6.4.

[2019-03-27 10:07] agroszer opened #154 "skim utilizes the CPU even when idle"
There is plenty of CPU usage when skim sits idle at the `c>` prompt.

Any chance to get that to zero? Might have plenty of instances open at the same time....

[2019-03-27 10:14] agroszer opened #155 "refresh"
Using the Preview Window with the stock `preview.sh`, when resizing the terminal or maximizing the terminal text gets garbled.

Any chance to get a full refresh?

[2019-03-27 10:54] lotabout commented on #155
@agroszer What you mean by "garbled"? Could you share an example(maybe a screenshot)?

[2019-03-27 10:57] lotabout commented on #154
@agroszer Just to make sure, "plenty of CPU usage", how much exactly? Mine on Mac is around "1.5%".

[2019-03-27 11:21] agroszer commented on #154
xubuntu 18.04 here, 15%-ish

[2019-03-27 11:26] agroszer commented on #155
This is how it looks after maximizing the (xfce4-)terminal with F11.
The right side preview is the 'new' -- that gets updated, the left side preview is the dead one.

![Screenshot_2019-03-27_12-23-57](https://user-images.githubusercontent.com/350912/55072401-4b914a80-508b-11e9-9439-3b4aa15a7c61.png)

[2019-03-27 11:27] agroszer commented on #155
This is how it looks when I drag a corner of the terminal to resize

![Screenshot_2019-03-27_12-26-39](https://user-images.githubusercontent.com/350912/55072513-9e6b0200-508b-11e9-9bdc-e7fee53b20b9.png)

[2019-03-28 05:29] #155 closed

[2019-03-28 10:16] agroszer opened #156 "preview dies"
This is weird... Extract the attached ZIP.

`sk --delimiter : --ansi -i -c 'rg --color=always --line-number "{}"' --preview 'skim_preview {}' --cmd-query html`

Produces a nice and working preview, for a while, go way up to match 83, `jquery.min.js` then it dies and does not work anymore

More weird:

`sk --delimiter : --ansi -i -c 'rg --color=always --line-number "{}"' --preview 'skim_preview {}'

[2019-03-28 13:00] balta2ar opened #157 "Counter overflow in interactive mode"
If I run skim in an empty directory in interactive mode as follows:
[code]
and press "Up Arrow" to go to the previous results (which is absent, there is nothing in the directory), the counter on the bottom-right overflows:
![](https://i.imgur.com/38J5TO4.png)

[2019-03-28 13:59] #156 closed

[2019-03-28 14:10] #157 closed

[2019-03-28 15:57] lotabout commented on #154
Tried to reproduce on ubuntu 18.04 (Vagrant with 2 Core and 256M RAM) and CentOS, both are around "1.5 ~ 2%".

![image](https://user-images.githubusercontent.com/1527040/55172378-ee91b380-51b4-11e9-9c62-e2cbc8b0a2a3.png)

[2019-03-29 07:48] agroszer commented on #154
What desktop did you use? gnome?
Might be something with xfce or my config of xfce... I'll see that I dig further into this.

[2019-03-30 09:48] #154 closed

[2019-04-01 06:11] agroszer commented on #154
cool thx!

on a sidenote, when compiling rust spits out some warnings about some constants not being all UPPERCASE

[2019-04-01 11:31] agroszer opened #158 "preview 'lags' behind"
using the latest master, the preview lags 'one move' behind

starts with blank, then on the first `<up-arrow>` the preview shows what should have been shown at start

I'm using `sk --delimiter ':' --ansi -i -c 'rg --color=always --line-number "{}"'
    --preview "skim_preview {}"
    --cmd-query TEXT`

[2019-04-01 14:25] lotabout commented on #158
@agroszer Confirmed. Thanks for report.

[2019-04-02 03:38] #158 closed

[2019-04-03 12:39] sanga opened #159 "Is there a way for the preview command to know the current query?"
I have a file preview command that is basically a script wrapper around bat that highlights the lines for a given search term. I'd like use this as the preview command for sk, but I don't think the current query gets passed through to the preview command when `--print-query` is enabled?

[2019-04-03 13:32] lotabout commented on #159
@sanga Currently no, I'll try to add it later.

[2019-04-05 15:27] lotabout commented on #159
@sanga Placeholder `{q}` for current query is not supported. It has nothing to do with `--print-query`.

[2019-04-06 04:52] sanga commented on #159
This doesn't appear to work to me. Tried with this:

`sk --ansi -i -c 'rg --color=always --line-number "{}"' --delimiter=: --preview "echo {q}"`

as compared with this, that works:

`sk --ansi -i -c 'rg --color=always --line-number "{}"' --delimiter=: --preview "echo {1}"`

[2019-04-06 05:18] lotabout commented on #159
@sanga Em.. I see. Actually in skim there are two kinds of query:
- `cmd-query` is used to replace the command specified by `-c`
- `query` is used to filter the choices.

Currently `query` is supported but not `cmd-query`.

[2019-04-07 00:40] #159 closed

[2019-04-07 00:41] lotabout commented on #159
@sanga Try out `{cq}` for command query which is the one you use for invoking `rg` in your case.

[2019-04-07 06:16] timsampsoncujo commented on #159
looks good to me. Thanks!

[2019-04-07 07:45] sanga commented on #159
looks good to me. Thanks!

[2019-04-16 18:23] krigstask opened #161 "Add an option to separate output with NULL chars"
Adding an option like this (`-0`, for example) would simplify processing _skim_'s output (selection) with tools like `xargs`.

Probably it's worth to consider adding support for NULL-separated input, too.

[2019-04-17 01:47] lotabout commented on #161
@krigstask Already  supported by `sk --print0`

[2019-04-17 01:47] #161 closed

[2019-04-17 06:35] krigstask commented on #161
Whoops, sorry, I was searching man page for `-0`, `-z` and `NULL`, and missed both `print0` and `read0`.  My bad!

[2019-04-18 15:07] JimVliet opened #162 "Add an option that allows only searching for directories"
It seems like there is no option to only fuzzy search for directories (ignoring all normal files). Of course one way to do this is to use this: `find . -type d -print | sk` It would be nice though if there was a command line option for this, so that you don't have to use find.

[2019-04-21 02:48] lotabout commented on #162
@JimVliet Thanks for your suggestion. I won't add this unfortunately, basically because skim was designed to be a general fuzzy finder. Thus I think it is better for it not to treat the input specially (e.g. files vs directories).

Though, I'll consider adding some actions for changing the input source dynamically(e.g. the `find` command).

[2019-04-21 02:48] #162 closed

[2019-04-28 01:51] dgrisham opened #163 "Separate colors for input text + unmatched text"
I'm interested in anyone's thoughts (@lotabout?) on separating the colors for unmatched results and the input text. I was playing with the color settings in `skim`, and thought it'd be nice if I could set the color of text that isn't 'matched' in any way to be a dark gray on black, then have matched text be white. This would provide a nice contrast between unmatched and matched text. However, curr

[2019-04-28 03:12] dgrisham opened #164 "Transparent/no background color"
I'm hoping to get transparent/no colors set on all of the background colors in `skim`. I'm using urxvt with transparency so that my wallpaper is dimly visible, so whenever a background color is set by a program it's obvious and overrides the wallpaper.

If I don't pass in a value for `bg` to `skim` then I get the transparent background as desired. So, from [what I've seen in theme.rs](https://gith

[2019-04-28 03:49] dgrisham commented on #164
Hm, maybe this is what the `bw` ('no colors') option was meant to do? Doesn't seem to be implemented as far as I can tell.

[2019-04-30 03:14] lotabout commented on #163
@dgrisham What do you mean by `unmatched text`?
For example, with input "hello world" and pattern "hw", the result would be `[h]ello [w]orld`. Could you illustrate what is "normal text" and what is "unmatched text"?

[2019-04-30 04:35] dgrisham commented on #163
@lotabout Right, that was unclear on my part. In the example of the pattern `hw` and input text `hello world`, I would consider the text in `[]` 'matched' text and that in `()` 'unmatched' text: `[h](ello) [w](orld)`. By 'normal' text, I mean the text in the input prompt.

[2019-04-30 06:02] lotabout commented on #164
@dgrisham In the latest commit
- `bw` is implemented for `black & white`
- `empty` is implemented for setting all as `Color::Default`.
- Besides, `fg:-1` the `-1` ANSI value is treated as `Color::Default`.

[2019-04-30 06:45] #164 closed

[2019-05-10 07:57] wincent opened #170 "UI is not responsive while reading large input list"
Thanks for making Skim.

I'm trying it out and the ordering of the results is much improved over fzf. However, I find that the input UI is almost totally unresponsive when processing large inputs, as demonstrated in this gif:

![ScreenFlow7](https://user-images.githubusercontent.com/7074/57510756-d65e9980-7307-11e9-813a-e2d92cb5a267.gif)

On the left:

- Run `fzf` in a directory with many files (a

[2019-05-15 15:03] prabirshrestha commented on #25
There is also crossterm now that works on multiple platform including windows and lot of TUI projects in rust seems to now be using this. https://github.com/TimonPost/crossterm

There is a PR for termion that works on windows. https://gitlab.redox-os.org/redox-os/termion/merge_requests/151

[2019-05-16 09:05] lotabout commented on #170
@wincent Thanks! for report, it is a known issue and I'll try to fix in next release.

Now the thread for handling user input and merging the filtered items is the same, so that if the input is too large, the thread will be blocked for user input.

[2019-05-16 09:53] wincent commented on #170
@lotabout: That's great news. Thanks for your work on this.

[2019-05-26 12:15] chmp opened #172 "sk-tmux does not pass SKIM_DEFAULT_COMMAND"
I have been playing around with skim and do not seem to be able to customize the default command when using `sk-tmux`. After looking at the source of the `sk-tmux` wrapper, I am wondering whether these lines are correct:

[code]

Shouldn't the variables after `printf` be also prefixed with `SKIM_` instead of `SK_`?

I solved my issue for now, by setting both `SKIM_DEFAULT_COMMAND` and `SK_DEFAULT_

[2019-05-26 12:59] lotabout commented on #172
@chmp You're correct. Would you like to submit a PR for this :)

[2019-05-26 13:12] chmp commented on #172
Sure. Will do. Give me a sec.

[2019-05-26 13:16] chmp commented on #172
I created a PR [here](https://github.com/lotabout/skim/pull/173).

[2019-05-26 15:04] lotabout commented on #172
Thanks! merged, closing.

[2019-05-26 15:04] #172 closed

[2019-05-28 18:16] atsepkov opened #174 "Support images (or more ANSI codes) in preview"
There are a few image formats supported by terminals: sixel, iTerm2 (imgcat), and most-recent one by Kitty (https://sw.kovidgoyal.net/kitty/graphics-protocol.html). Each of these works by sending a special escape sequence to the terminal, similar to the ANSI codes used for colors.

These sequences are still not standardized, but that is technically for end-user to deal with. What is standardized i

[2019-05-29 09:18] lotabout commented on #170
@wincent Would you please try out branch `ticket-170` and check if it improves your situation?

[2019-05-29 10:25] wincent commented on #170
@lotabout: I just built your PR and it is a massive improvement. Here's a GIF of the same search as above, in the same big repo:

![ScreenFlow](https://user-images.githubusercontent.com/7074/58549856-c2be9880-820c-11e9-8ae8-42347097ccbf.gif)

[2019-05-29 11:57] lotabout commented on #170
@wincent Great! Then I'll close this issue. Thanks again for the report and testing.

[2019-05-30 01:21] #170 closed

[2019-05-30 01:45] lotabout commented on #174
@atsepkov It's a great idea. I've been thinking how to achieve it once I saw this, but seems no easy way with skim. Here are the obstacles:

1. As you suggested, skim need to support more ANSI codes instead of just ignore them. (this is relatively easy)
    - When the input contains invalid ANSI codes, they'll be ignored.
    - If somehow the ANSI did goes into the memory, the rendering engine wil

[2019-05-30 07:08] sanga opened #176 "sk is unrepsonsive when using `--preview=head`"
Seems like it ignores searching filtering input. Steps to repro:

- `cd / && sk --preview=head` (though I think the actual preview cmd is irrelevant)
- start typing to filter the list
=> no input/filtering

Might be related to #175, at least I haven't noticed this before

[2019-05-30 08:37] lotabout commented on #176
@sanga Em... It shouldn't be working at all.

Actually it IS relevant. Commands waiting for input like `head` will eat up the inputs that was supposed to to to skim, thus making skim unresponsive.

Maybe what you want is `cd / && sk --preview="head {}"`?

[2019-05-30 10:13] balta2ar commented on #176
@lotabout Could you please cut new release after you sort this issue out? Improvements regarding the input responsiveness are affecting me as well. Thank you!

[2019-05-30 11:41] lotabout commented on #176
@balta2ar Did you meet similar issues?
I think this issue is caused by invalid use of skim and wouldn't happen in normal cases. Say:
- `preview=head` would waiting for(and eat up) user input, but normally it's meaningless in preview.
- `preview="head {}"` is normal since it will take the filename and print the head lines. This command has no problem.

[2019-05-30 12:59] balta2ar commented on #176
Sorry, I meant to say that I'm looking forward to seeing a release with this fix: #175. I have no troubles regarding the current issue, I should've probably comment in the other issue report.

[2019-05-30 14:03] lotabout commented on #176
@balta2ar I see, sorry that I misunderstood. I'll file another release soon.

[2019-05-31 01:13] lotabout commented on #163
New color terms added: `query` and `query_bg` for setting the "normal" text you described here.

[2019-05-31 01:56] #163 closed

[2019-05-31 05:19] #176 closed

[2019-05-31 05:20] sanga commented on #176
Sorry for the noise - not quite sure what I was thinking (note to self: don't file bugs with the flu)

[2019-05-31 07:59] ln-nl opened #179 "error: the lock file needs to be updated but --frozen was passed to prevent this"
Could you please keep Cargo.lock updated? Some distros use `cargo build --frozen` (for reproducible builds) and this doesn't work with outdated lockfiles.
Thanks!

[2019-05-31 11:46] #179 closed

[2019-06-01 09:36] ahmedelgabri opened #182 "[switching from fzf] vim plugin questions"
I'm currently thinking about switching from `fzf` to `skim`, my current usage is both in vim & on the CLI. The CLI usage is simple enough to be replaced but my issue is I'm using `fzf.vim` & used to commands like `:Buffers`, `:Colors`, etc…

- How can I implement these with the current vim plugin?
- Any plans to move the plugin to a separate repo? I install `sk` through homebrew & doesn't make sen

[2019-06-02 18:04] alok opened #183 "feature request: preview scroll"
The ability to scroll the preview up/down is a handy feature of fzf, and I'd like to use it in skim too for a notational velocity clone I'm writing.

[2019-06-02 23:33] lotabout commented on #183
@alok Try our actions like ‘preview-up/preview-down’, maybe that’s what you want?

P.S. you could find all actions in the man page.

[2019-06-02 23:40] lotabout commented on #182
There is a clone of fzf.vim: [skim.vim](https://github.com/lotabout/skim.vim). So just like what you did with fzf, add the following lines into your vimrc(example with vim-plug):

[code]

And use `PlugInstall` to install to get it working.

[2019-06-03 08:52] ahmedelgabri commented on #182
I guess I was confused a bit with https://github.com/lotabout/skim.vim README since it has `fzf` still all over it so I assumed it was still WIP or something. Thanks, will check it out then 👍

[2019-06-04 03:11] #183 closed

[2019-06-04 03:17] alok commented on #80
I've been playing with the library to try, and it's kind of awkward how there's no way to set the preview or change the display easily inside Rust. I think @SirVer's suggestions about `do_display` and `preview_text` would be useful.

[2019-06-05 02:12] #182 closed

[2019-06-06 23:49] dgrisham commented on #163
Thanks @lotabout!

[2019-06-19 03:15] lebensterben opened #188 "Compiling error E0283"
I was trying to install `skim` via `cargo` and the following error occurred.

[code]

[2019-06-22 14:07] lotabout commented on #188
@lebensterben Could you please share which commit of skim are you using? as well as the version of rust?

[2019-06-22 17:01] h-michael commented on #188
@lotabout Same thing occurred.
That happens when `cargo install skim` from crates.io.

[code]

[2019-06-23 02:13] lotabout commented on #188
Confirmed. Very sorry for causing this trouble.
It's because I committed a `Cargo.lock` that depends on a wrong version of `tuikit`.

[2019-06-23 02:20] lebensterben commented on #188
@lotabout and @h-michael Thx

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-23 02:33] lotabout commented on #188
Published a new version 0.6.8. Confirmed `cargo install skim` works locally.

[2019-06-23 02:33] #188 closed

[2019-06-23 04:54] lebensterben commented on #188
@lotabout Confirmed. Thanks.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-23 22:24] 5paceToast opened #189 "Packaging: Alpine Linux"
Skim is now (and has been for a while, but still) available in the [official alpine repos](https://pkgs.alpinelinux.org/packages?name=skim).

It might make sense to add installation instructions, but due to the current structure of the README, it's unclear as to where it should go, so I figured I'll describe them here.
If explicitly mentioning downstream packages is undesirable, feel free to ignor

[2019-06-25 22:58] bbqsrc opened #191 "Validate selection on hitting enter"
I'm using skim as a library with quite a lot of success, however, there is one caveat: I am using it with a list of items that a user must select at least one, and if the user types a query that results in 0 results and hits enter, it returns `None`.

Is there a way to augment this behaviour?

[2019-07-03 05:58] cireu opened #192 "skim's zsh plugin has different behavior between fzf's."
# Info
- sk version: `0.6.8`
- zsh version: `zsh 5.7.1 (x86_64-pc-linux-gnu)`
- OS: Archlinux

# Recipes
1. start zsh with `zsh -f` for a raw environment.
2. source skim's zsh plugins
3. Repeat 1 and 2 in another terminal but source fzf's zsh plugin
4. Press any completion key (Ctrl-T)

Expect prompt can be seen but prompt was covered by skim.

![image](https://user-images.githubusercontent.com/18

[2019-07-06 22:53] SUSYLABS opened #193 "ansi color support for "fd""
fd --color always | sk --ansi

example with fzf:
fd --color always | fzf --ansi

[2019-07-08 16:59] kevinkirkup opened #194 "Color not working with `ag`"
When using silver searcher, coloring of file path and line numbers aren't working.

Used the following command:
[code]

[2019-07-08 22:42] egrieco opened #195 "Case insensitive matching and smart-case"
# Feature Request

**Case insensitive matching and smart-case**

A big part of the reason that I use programs like Skim and fzf is the ability to "try" queries without having to waste too much time thinking about exactly what I need to type. Thus case-insensitive queries are frequently a lot more useful than case-sensitive queries.

The most convenient mode would be a **smart-case** query where al

[2019-07-11 22:50] heliostatic opened #196 "Passing an explicit + to execute()"
I'm trying to pass line number and filename to vim with:
`sk --ansi -i -c 'rg --color=always --line-number "{}"' --preview 'preview.sh {}' -d':' --bind 'enter:execute($EDITOR +{2} {1})'` but the `+` gets swallowed by the skim parser instead of getting passed the command.

[2019-07-12 00:48] lotabout commented on #195
@egrieco The fuzzy search algorithm *is* case-insensitive. It’ll try it’s best to match your query.

[2019-07-12 00:49] lotabout commented on #194
Confirmed. Will fix when I got time.

[2019-07-12 10:56] heliostatic commented on #196
I tried escaping with `\` with no success

[2019-07-14 00:02] lotabout commented on #193
Same cause as #194 .

[2019-07-14 00:02] #193 closed

[2019-07-14 00:11] #194 closed

[2019-07-14 02:27] #196 closed

[2019-07-21 23:30] #189 closed

[2019-07-23 23:28] avshyz opened #203 "[Feature Request] access command prompt from preview"
Right now, writing `{}` on the value of `-c` would replace it with the command prompt,
but writing `{}` on the value of `--preview` would replace it with the selected line.
I think adding a way to access the prompt from the preview would be awesome.

Right now, I'm trying to implement an interactive git pickaxe search with this line
`sk -ic "git log -S{} --oneline" --preview="echo {} | cut -f1 -d'

[2019-07-26 14:26] lotabout commented on #203
@avshyz Which version do you use? It should already be supported since v0.6.7.

[2019-07-26 14:26] #203 closed

[2019-07-26 15:11] avshyz commented on #203
Hi @lotabout!
I'm using 0.6.8

[2019-07-26 15:50] avshyz commented on #203
Ok, I've managed to find it once I looked into the release notes. Maybe it's worth adding it to the readme? :)

[2019-07-28 01:36] #192 closed

[2019-07-30 13:16] SirVer opened #205 "Using SKIM as a library immediately crashes unless tabstop is set"
The crash looks like this:

[code]

The line takes the modulo of `tabstop`, which is [set to zero](https://github.com/lotabout/skim/blob/master/src/selection.rs#L65) by default (I believe this should just be 8 and this bug is gone). It only changes its value, when `Options::tabstop` is set [here](https://github.com/lotabout/skim/blob/master/src/selection.rs#L92), interestingly the default of 8 is

[2019-08-01 13:49] petobens opened #207 "Header color not configurable"
The `header` color doesn't seem to be configurable. With the following command:
[code]
I still get the stock header color:

![image](https://user-images.githubusercontent.com/2583971/62298788-0e2e3680-b44a-11e9-8f5e-de1ff2322a70.png)

[2019-08-02 13:52] #205 closed

[2019-08-02 14:05] #207 closed

[2019-08-02 14:05] #195 closed

[2019-08-02 14:25] denisu opened #209 "Skim hangs on input data (tail -f)"
Tested in 0.6.8

Steps to reproduce: ```tail -f testfile | sk```

Skim hangs after selecting an item until a new line is written to ```testfile```. It works fine in fzf.

[2019-08-02 14:54] petobens commented on #207
Thanks!

[2019-08-03 02:14] lotabout commented on #209
@denisu This is a known issue. `sk` won't stop on listening to an infinite stream.
Unfortunately currently rust doesn't have a good way to interrupt a blocking read.

Is there any specific reason that the above example(`tail -f xxx | sk`) is useful for you?

[2019-08-04 10:55] denisu commented on #209
I see. I use it to lookup and filter specific entries/keywords in a log file, which is still being written to, in real time. Works quite magically together with ```--tiebreak=-index```.

[2019-08-09 14:10] tpoliaw opened #210 "Multi selection including unselected option"
$ sk --version
    0.6.8

This might be intended behaviour but it caught me out by being different to fzf.
When using skim with the `--multi` flag, the line the cursor is on when you hit enter is included in the returned selection, even if it hasn't been selected. There are often times when I search/scroll through a list and find there are no more options that need selecting but would have to scro

[2019-08-11 18:15] muellerj opened #211 "Strange characters on first line (fish)"
After switching from `zsh` to `fish`, I get some strange characters on the first line after invoking `sk`:

![Screenshot 2019-08-11 at 20 07 44](https://user-images.githubusercontent.com/53246/62837826-5cc2a880-bc74-11e9-9b8f-2bf024f3595c.png)

Setting/unsetting `SKIM_DEFAULT_{COMMAND,OPTS}` does not change the behaviour, neither does changing the prompt (my initial suspicion).

Under `zsh`, the p

[2019-08-11 23:49] lotabout commented on #211
@muellerj Could you please share the environment variables.

[code]

[2019-08-12 07:40] muellerj commented on #211
Sure:

![image](https://user-images.githubusercontent.com/53246/62851047-23765100-bce5-11e9-860e-26c243a57214.png)

[2019-08-12 11:47] lotabout commented on #211
@muellerj Em... Very strange. I cannot reproduce under both Linux and MacOS. Could you please help to:

1. Try `fd -H --exclude .git | sk`
2. Try `find . | sk` to see if it is related to `fd`'s output.
3. Try skim in another directory to double check if it could be the problem of some files?
4. Finally it is possible to start an empty fish shell(no customization) and check if it still happens.

Th

[2019-08-12 19:02] muellerj commented on #211
@lotabout: Thanks for your help.

1. `fd -H --exclude .git | sk` shows no strange characters.
2. `find . | sk` is also free of strange characters
3. Running `sk` under `/tmp/foo` (freshly created) shows the strange characters
4. Running `sk` in a fresh fish shell (I simply renamed `~/.config/fish`) shows no strange characters

It seems the bug is somehow connected to my prompt? Any idea where I co

[2019-08-12 19:26] muellerj commented on #211
Update: I think I may have found the culprit: I'm sourcing the base16 colorschemes from chriskempson/base16-shell in order to set the colors of my shell. These output a bunch of escape codes:

[code]

I suspect that these escape sequences somehow end up in sk, when it spawns a new process to run its `SKIM_DEFAULT_COMMAND`?

[2019-08-12 19:36] muellerj commented on #211
I can lock these away under a conditional, such that non-interactive shells never see the escape-sequences

[code]

Please consider my immediate problem solved, unless you want to rework the way these are handled by Skim.

[2019-08-12 19:36] #211 closed

[2019-08-19 18:30] heliostatic opened #212 "Matching not fuzzy using -c 'rg {}'"
When using `-c 'rg {}'`, matching does not appear to be fuzzy anymore.

![2019-08-19 14 28 58](https://user-images.githubusercontent.com/70898/63289719-c69f0b80-c28d-11e9-8697-19004ad2dfda.gif)

[2019-08-19 23:26] lotabout commented on #212
@heliostatic This is by design. The command provided by `-c` option serve as the source of the items, skim has no way to control their behavior.
If you need to narrow down the items returned by `rg`, you could still press `C-q` to switch to the fuzzy mode.

[2019-08-19 23:26] #212 closed

[2019-08-20 00:20] heliostatic commented on #212
Ah, I misunderstood what `-i` was doing in this case. Removing it gave the behavior I expected. Thanks!

[2019-08-20 17:22] sanga opened #213 "ranking algorithm should always rank a contigiuous block of matching text as best match"
This does not seem like the optimal ordering

[code]

`Code/External/skim` would seem like the more optimal choice in this case. You can't see the highlighting above but skim is highlighting the `ski` from skim and the `m` from man. It seems like this is some issue with `/` perhaps.

This is for skim commit b696cdde68cd1e9211e1df04705a70383cca2502 btw

[2019-08-23 06:35] sanga commented on #213
Actually when I think about it it's likely not related to the `/` character but rather a deficiency in the ranking algorithm that doesn't prioritize contiguous blocks of text that match.

[2019-08-25 09:17] ngirard opened #214 "`--cmd` option: USAGE doesn't match code"
The `USAGE` string says
[code]

whereas in the code
[code]

(notice the differing short variants: `c` vs `cmd`).

[2019-08-25 10:31] alok commented on #80
@lotabout Have you considered adding a way to hook into the displayed text? I'd love to use this for github.com/alok/notational-fzf-vim instead of fzf, but without that ability, I'd probably have to fork the project for my intended use case.

[2019-08-25 10:44] ngirard opened #215 "Need a hand integrating skim to lolcate"
Hopefully you don't mind me opening an issue here about my own [Lolcate](https://github.com/ngirard/lolcate-rs) project...

I wish to change Lolcate's behaviour, so that, when it is run in a tty that is not piped, it runs in an interactive mode, leveraging skim as a library.

I already know how to detect whether the stdout is in a tty and isn't piped.

Now, I've had a hard time figuring out how Lo

[2019-08-25 14:30] lotabout commented on #80
@alok Please create new issue about your requirement. I did have some improvement in my mind, but haven't got time recently.

[2019-08-26 07:01] alok opened #216 "Hook methods for string display would be useful"
Builds off #80.

One issue in that thread:

with the proposed solution:

In my case, I want to display a shortened filename and the contents of that file at a specific line, and when a user selects that, jump to the correct file.

Right now, I have a hashmap from filenames to lines in those files (`HashMap<PathBuf, Vec<String>>`), and getting the original filename from the shortened one is difficu

[2019-09-03 14:45] focusaurus opened #218 "Implement --select-1"
Any plans to implement `--select-1` functionality? My main `fzf` command is: `fzf --select-1 --exit-0 --query "$1"` so once that works I could switch to skim.

[2019-09-04 11:13] marty-oehme opened #219 "Exact matching mode without case sensitivity?"
It seems the fuzzy matching mode is always case insensitive, and the exact matching mode is always case sensitive.

However, is there any way to get the contiguous matching mode that exact provides (i.e. match whole words) while not having to also match the case? In other words, is it possible to set exact mode to case insensitivity, or smart-case?

For explanation: My use case is full-text search

[2019-09-08 15:53] petobens opened #220 "bat highlight-line not working properly"
As it can be seen in the image, if I run `sk --preview 'bat --color always --style numbers --highlight-line 5 {1}'`, the (5th) line is only partially highlighted in the preview window:

![image](https://user-images.githubusercontent.com/2583971/64490842-91a42a00-d237-11e9-99f8-f59336ec5434.png)

It seems to be a problem with skim since bat line highlighting  works just fine:

![image](https://user

[2019-09-21 10:53] pierrechevalier83 commented on #205
Hey, @lotabout, would you mind releasing a new minor version of skim to crates.io so consumers of this library don't have to workaround this bug in their codebase, as I had to here: https://github.com/pierrechevalier83/find_unicode/blob/bd18b4bf6d0a2d187abcb4c1cf478a192b198f5e/src/main.rs#L64?

[2019-09-22 00:20] lotabout commented on #205
@pierrechevalier83 Sure, just done.

[2019-09-25 12:51] hajdamak opened #222 "Preview fails to spawn command"
Calling:
`ls | sk  --preview '/bin/echo' `
results in error message displayed in preview window:
`Failed to spawn: /bin/echo / No such file or directory (os error 2) `
Skim version 0.6.9
Ubuntu 16.04.06 LTS

[2019-09-25 14:57] lotabout commented on #222
@hajdamak could you please run the command with `${SHELL:-sh} -c '/bin/echo'` in your shell and check what happens? Internally skim will invoke this command.

[2019-09-25 15:02] hajdamak commented on #222
In Fish I get:
[code]
In Bash it just prints empty line.
Note however that I get  failed to spawn message in both Fish and Bash

[2019-09-25 19:22] hajdamak commented on #222
I have now tried on Fedora 30 and everything works fine.

[2019-09-25 23:42] lotabout commented on #222
@hajdamak Could you please try using `echo` instead of `/bin/echo` and see if there is a difference?

[2019-09-26 07:38] hajdamak commented on #222
Same problem on Ubuntu.

[2019-09-26 10:11] chubin opened #223 "Feature request: tab-completion on steroids (take an option from the list to the enter field)"
(cc from my email from `Date: Sun, 22 Sep 2019 18:45:15 +0300`)

What do you think about this feature: copy one of the alternatives in the list
to the enter field? Something like tab completion on steroids.

*Details:*

Consider Google Suggest.
Of course, we are talking not about real Google Suggest feature,
I am just using it as an example.

Say, I am searching for
[code]
I enter:
[code]
And I ge

[2019-09-26 10:16] chubin opened #224 "Feature request: two types of lists: completions/answers"
Feature is related to #223

If it possible to take an alternative from the list, and use it in the input field (tab-completion on steroids), it would be great to have two types of the lists (maybe one is above the input line and one is below it, or maybe some sort of key for switch): with the "completions" and with the "answers".

*Details*

Consider Google suggest again.

We enter "python regexp

[2019-10-02 19:17] Wonko7 commented on #219
Same thing when skimming through book titles, I know the words, not the case.

[2019-10-07 12:51] liuchengxu opened #225 "Disable score output in filter mode"
Currently I don't see a way to disable the score output in the filter mode. Let me know if I miss something.

[2019-10-07 15:36] HollMax opened #226 "Exact exact match"
When matching a short string, the exact match can get lost in results.
For example, I use `skim` to select packages to install on Arch. If the name is extremely short (`lf`), the wanted result gets lost beneath results which contain the searched string. `^` nor `$` were able to narrow the search to what I wanted. I tried `^lf$`, which worked in `fzf` but yielded no results in `skim`.
This could be

[2019-10-22 09:21] ngirard commented on #215
Hello...?

[2019-10-24 07:09] lotabout commented on #215
@ngirard Sorry for late reply, got busy at work.

So you just want to call skim for selecting some choices? (Please correct me if I answered the wrong question)

[code]

Currently skim's library is far from user friendly, what you need to do is:
1. create a string containing all your choices separating by new line `\n`
2. create options that meet your need
3. call `Skim::run_with` to invoke the TU

[2019-10-26 09:01] zsugabubus opened #229 "Change name of binary sk -> skim?"
Sorry, but I just can't stand asking why did you name the binary `sk` instead of `skim`. Here is my reasoning:
* `skim` is just two letters more than `sk`, not one hundred.
* If you want making your configuration permanent, you will create an alias (or similar) for `sk`, so you surely never will call it directly.
* If you don't care about configuration and you say you just want filter through some

[2019-10-27 23:08] derrickcope commented on #174
There is a rust crate viu that can show images in the terminal if that is helpful.

[2019-10-29 10:30] derrickcope commented on #162
Just use it with fd --type d

[2019-11-23 09:23] #214 closed

[2019-11-24 15:07] zsugabubus opened #231 "ANSI colors are ignored in some cases"
I can reproduce it by:
[code]
Or...
[code]

[2019-11-24 17:31] Konfekt opened #232 "Ctrl-J accepts match in ZSH"
`Ctrl-J`, instead of moving the selection bar down, accepts the match in `ZSH 5.6` under `Linux x64` with Skim 0.60. It used to work fine in 0.55.

[2019-11-24 18:36] Konfekt commented on #232
This only happens if `sk` is called by a binding, for example
[code]

[2019-11-26 13:05] MeisterTea opened #233 "Feature: preview mouse scroll"
I think it's a dupe of https://github.com/lotabout/skim/issues/183 but since it's closed, I am opening a new one.

Would it be possible to allow the user to scroll down/up with the mouse instead of shift+[down|up] ?

This functionnality is in fzf

[2019-12-05 05:49] lilydjwg opened #235 "Mouse not released after skim exits and other issues"
* Run skim and exit, the mouse is still being used but no program is using it (mouse clicks produce escape code sequences)
* Run skim and have items in the list, mouse wheels don't scroll the selected item
* Adding `--no-mouse` argument will help and it's compatible with older versions, but I hate breaking changes. Could you avoid that?

[2019-12-06 03:52] Aloxaf opened #236 "Performance issue with long string"
[code]

[2019-12-06 10:51] lotabout commented on #236
Confirmed, it's the problem of the searching algorithm, I'lll look into it.

[2019-12-10 14:34] #236 closed

[2019-12-10 15:31] matthiasbeyer opened #238 "Render to Cursive View?"
Hi,

would it technically be possible to use Cursive as a frontend for skim? So that I can render the skim selection into a Cursive View?

The idea behind this would be a way to integrate skim (as a library) into a Cursive-based application.

If yes, please consider this a feature request. I would like to help (discussion/design/code) to implement such a feature.

[2019-12-11 05:18] lotabout commented on #220
Should be fixed? Tested on MacOS + current master.
![image](https://user-images.githubusercontent.com/1527040/70593585-91417380-1c18-11ea-8e81-22106a753304.png)

[2019-12-11 05:18] #220 closed

[2019-12-11 15:59] #231 closed

[2019-12-14 21:22] jfrankenau commented on #232
I have the same issue. It is probably due to `CTRL-J` issuing a LF and therefore it is never bound to the `down` action.

[2019-12-15 08:42] sanga commented on #213
This looks like it's fixed to me with the latest algorithm changes

[2019-12-15 08:42] #213 closed

[2019-12-15 11:46] Konfekt commented on #232
Yes, the [ascii-table](http://ascii-table.com/control-chars.php) shows Ctrl-J to issue a LF.

Since the switch to tuikit came with 0.60, this is likely.

Just as a side note, the same issue happens in Konsole, xterm and Urxvt. Curiously, not in the WSL xterm terminal.

[2019-12-19 14:49] lotabout commented on #219
@marty-oehme The new fuzzy matching algorithm comes with smart case support as well as giving more bonus to consecutive matching. Would you please have a try to see if it suits your requirement?

As for case insensitive "exact mode", I think it may not be suitable to be the default behavior. I'll think more about that later.

[2019-12-28 12:29] marty-oehme commented on #219
@lotabout Thanks for the response! Unfortunately, due to this issue I had to switch my fuzzy matcher from skim and am generally a bit strapped for time right now.

As soon as I find the time to take the new algorithm for a sufficiently extensive test-run I will definitely let you know. Thanks again for taking the issue into consideration!

[2020-01-02 06:47] lotabout commented on #235
Yeah. The mouse support is not implemented correctly. I'll revert the support for now, and think through it first.

[2020-01-08 23:26] johnpyp opened #245 "Skim not working properly with ansi input"
Using:
[code]
Displays most colors, but not for current-directory files seemingly, whereas
[code]
Does what I expect. I'm not sure exactly where this issue is, but I'm noticing it now using this as my default file finder over fzf.

[2020-01-09 03:58] lotabout commented on #245
@johnpyp which version did you use?

[2020-01-09 13:35] johnpyp commented on #245
0.6.9

[2020-01-13 02:15] lotabout commented on #245
Confirmed problem still exists on master.

[2020-01-13 09:45] Aloxaf opened #246 "`\b` doesn't work when enabling ANSI color code support"
## normal mode:
[code]
![图片](https://user-images.githubusercontent.com/17017672/72245609-eca5bd80-362b-11ea-9263-fb7100aa110e.png)

## with `--ansi`:
[code]
![图片](https://user-images.githubusercontent.com/17017672/72245743-32628600-362c-11ea-9133-02f1ba6f5002.png)

## fzf:
In fzf it works well
![图片](https://user-images.githubusercontent.com/17017672/72245808-5625cc00-362c-11ea-8231-f1260d046047.pn

[2020-01-13 09:49] Aloxaf opened #247 "ANSI color code doesn't work in header lines"
# How to reproduce:
[code]

# What I got:
![图片](https://user-images.githubusercontent.com/17017672/72246079-ee23b580-362c-11ea-8746-31d05e653cf2.png)

# What I expect:
![图片](https://user-images.githubusercontent.com/17017672/72246105-ff6cc200-362c-11ea-9eff-e1e076d3664c.png)

[2020-01-13 14:48] lotabout commented on #245
I've done some more tests and realized that it should be fixed in #231.

@johnpyp Could you please test if the problem still exist on master branch? Thanks!

[2020-01-13 14:57] johnpyp commented on #245
Yeah, seems to work on master. Thanks :)

[2020-01-13 15:03] lotabout commented on #245
Thanks! close.

[2020-01-13 15:03] #245 closed

[2020-01-13 15:07] #247 closed

[2020-01-13 15:09] #246 closed

[2020-01-14 05:47] Aloxaf commented on #247
Thanks for your quick fix!

[2020-01-16 11:30] Aloxaf opened #252 "Wrong highlight when there are zero-width characters in string"
# How to reproduce
Run following code in zsh, and type 'abcghi'
[code]

# Result

![图片](https://user-images.githubusercontent.com/17017672/72521546-98eadc80-3896-11ea-9387-872b6e5044e4.png)

# Expected

![图片](https://user-images.githubusercontent.com/17017672/72521500-81abef00-3896-11ea-89ce-23e7f3b67713.png)

[2020-01-16 12:28] Aloxaf opened #253 "Problem with \0 as delimiter"
Sorry for spamming the issue tracker. I'm developing [fzf-tab](https://github.com/Aloxaf/fzf-tab), which makes heavy use of these special characters.

# Code to reproduce
[code]

# Result
![图片](https://user-images.githubusercontent.com/17017672/72524978-0bab8600-389e-11ea-9d68-4cd8e0a3b195.png)

# Expected
![图片](https://user-images.githubusercontent.com/17017672/72524949-fcc4d380-389d-11ea-9065-52

[2020-01-17 10:38] Wonko7 commented on #219
I tested 0.7.0: the results are fine with a small number of choices (switching vim buffers), but for digging through shell history if I don't use exact mode I never reach old entries. And if I use exact mode it only works if I'm sure of the case.
Could the adjacency bonus be adjustable? If it's high enough maybe exact mode won't need an insensitive version (I agree it shouldn't be the default beha

[2020-01-17 20:58] vredesbyyrd opened #254 "Add placeholder expression {+} to preview window"
Really enjoying Skim, thanks for sharing this awesome tool.

One option I made use of from fzf allowed for the following...

![Screenshot from 2020-01-17 14-31-24](https://user-images.githubusercontent.com/22080838/72644436-a22b8600-3936-11ea-91e5-9652f026f448.png)

fzf doc explains the preview window placeholder expression, `+`,  with the following:

For my particular use case I am writing a smal

[2020-01-19 02:32] lotabout commented on #253
@Aloxaf `--delimiter` is expecting a regular expression. And I believe `\0` is not a standard one. Use `\x00` or `\u{0000}` instead.

[2020-01-20 11:58] MeisterTea commented on #233
Hi, I wanted to switch to skim and ditch fzf but it seems that you had to revert the mouse support feature. Do you have any idea if you are going to add it back ?

[2020-01-20 12:34] lotabout commented on #233
Previous implementation was incomplete that it only deals with preview window, not the item list window. I'll reopen this issue and try to work out a better solution.

[2020-01-20 12:49] Aloxaf commented on #253
It works. Thank you very much!

[2020-01-20 12:49] #253 closed

[2020-01-21 10:06] Rudo2204 commented on #216
I'm running into this problem as well.
Right now I'm having the program calling itself and use a helper function to get the preview I want, an ugly solution but it works okay for now.
It would be nice to have this feature.

[2020-01-23 23:19] acheronfail opened #255 "Can't bind `space:` to an action"
I can't seem to re-bind the `space` key to an action.

What I'm trying to do:

[code]

I'd expect that pressing `space` would toggle the item, but it just inserts a space into the search box.

Alternatively, using a random character by itself (such as `a`), works:

[code]

[2020-01-23 23:28] acheronfail commented on #255
[code]
[code]

[2020-01-26 06:38] lotabout commented on #255
@acheronfail Confirmed, as a workaround, you could try:

[code]

[2020-01-26 06:49] #255 closed

[2020-01-27 08:17] #252 closed

[2020-01-27 08:34] lotabout commented on #210
After the fix, skim behave like this:

1. If multi-selection is not enabled, select current item
2. If multi-selection is enabled
    a) No item is selected -> select current item
    b) already selected some items -> exclude current item

It should be compatible with fzf.

[2020-01-27 08:35] #210 closed

[2020-01-27 08:36] lotabout commented on #215
Gonna close. Please reopen if you have further questions.

[2020-01-27 08:36] #215 closed

[2020-01-27 08:47] #225 closed

[2020-01-27 08:48] lotabout commented on #225
Current behavior:

1. disable score in filter output by default.
2. could be enabled by `--print-score`

[2020-01-27 12:01] ngirard commented on #215
Sure ! Apologizes for being silent, I've yet to find the time to tackle
this problem.

Thanks for your feedback, and I wish the best for you & your family in
these troubled times.

Le lun. 27 janv. 2020 à 09:36, Jinzhou Zhang <notifications@github.com> a
écrit :

--
Nicolas Girard
Tél: 07 77 82 21 74
Nicolas Girard fait partie de Coopaname, SCOP-SA à capital variable
RCS Paris : 448 762 526 - APE:

[2020-01-29 22:26] ngirard opened #259 "'abort' doesn't abort all the time"
When running `find|sk --bind 'enter:execute(echo {})+abort'`, skim doesn't always abort.

That is, the selection is printed, then a newline. But the caret stays on an empty line below, skim keeps running, and hitting enter again doesn't get us back to the shell. Typing `ctrl-c` is needed to end the program.

Tested on Ubuntu 19.04 running konsole, bash 5.0.3 and skim 0.7.0.

[2020-01-30 12:22] #233 closed

[2020-01-30 23:45] shibumi opened #261 "bind skim to "ctrl+x a" in zsh"
Hi,
I try to bind skim to the binding `^xa` in zsh.

My code in looks like this:
[code]

When I execute `sk --ansi -i -c 'rg --files --no-ignore --hidden --glob "!.git/*" /'` on command line it works fine. But when I trigger it via the key binding I just get an empty sk output... do you have any idea?

Why am I doing this? - I wanted to have a separate keybinding for searching through my whole fil

[2020-02-03 03:16] #235 closed

[2020-02-03 03:30] lotabout commented on #259
@ngirard Thanks for report! Could you help reproduce on other terminal (say xterm)?
I cannot reproduce on Mac 10.14.6 + iterm2/Terminal + GNU Bash 3.2.57/zsh 5.7.1 + skim 0.7.0.

[2020-02-03 03:31] #254 closed

[2020-02-03 05:26] #232 closed

[2020-02-03 10:57] lotabout commented on #261
@shibumi Checkout [this](https://unix.stackexchange.com/a/475337) for a workaround to work with zsh:

[code]

`sk` will check if the current `stdin` is a tty or not and read the items from pipe if it is not. Zsh however will (possibly) replace the stdin with a pipe in key binding. Which will make `sk` waiting for the pipe thus getting no items at all.

[2020-02-03 10:57] #261 closed

[2020-02-03 12:42] #226 closed

[2020-02-05 09:08] lotabout commented on #191
@bbqsrc Sorry for really late response. I believe the latest skim would no longer return `None`. Could you please help confirm that? Thanks!

[2020-02-05 09:59] lotabout commented on #229
@zsugabubus Sorry that I won't fix this. Well... I think the shorter the better...

[2020-02-05 09:59] #229 closed

[2020-02-05 10:07] lotabout commented on #223
@chubin I finally had time to think about the feature. Skim is intended to be a simple fuzzy finder, not a general framework(e.g. Python's [prompt-toolkit](https://github.com/prompt-toolkit/python-prompt-toolkit)). Sorry that I won't implement this even though I do think it is a nice feature.

[2020-02-05 10:07] #223 closed

[2020-02-05 10:09] lotabout commented on #224
Will not implement to keep skim simple.

[2020-02-05 10:09] #224 closed

[2020-02-05 10:27] #216 closed

[2020-02-05 16:25] bbqsrc commented on #191
I'll have a look and let you know. When you say it doesn't return None, do you mean that the user cannot accept zero options or that it returns something else now?

[2020-02-06 02:03] lotabout commented on #191
@bbqsrc On accept 0 or more items, skim will return

[code]

So that you could distinguish `accept` and `abort` events and maybe throw error message to the user accordingly. Currently there is no way(hook) to reject zero options in skim's side. Hope that meet your needs.

[2020-02-09 23:49] vredesbyyrd commented on #254
Thanks for implementing this feature, works great :)

[2020-02-13 14:48] ngirard commented on #259
Hey, sorry for the late reply.
I was just able to reproduce the same behavior using
- Xterm 330 + bash 5.0.3
- Alacritty 0.3.3 + bash 5.0.3

Would you like me to try anything else ?

[2020-02-22 09:16] muellerj commented on #219
I would 👍 an `exact` + `case-insensitive` option.

[2020-02-23 10:21] lotabout commented on #219
An option was added `--case [respect,ignore,smart]`. Apply `--case ignore` will do case insensitive matching in exact mode.

[2020-02-23 10:46] #219 closed

[2020-02-24 20:54] marty-oehme commented on #219
Thank you @lotabout, this is super useful!

[2020-02-25 06:01] #63 closed

[2020-02-25 14:22] Wonko7 commented on #219
Perfect! Thank you!

[2020-02-25 16:08] Korkman opened #273 "Indicate when stdin is closed with --inline-info"
When piping to skim, the tiny dot indicator in the lower right corner only flashes when lines are received. How to know when a slow search is complete? There should be an indicator for closed stdin.

[2020-02-26 01:26] lotabout commented on #273
![image](https://user-images.githubusercontent.com/1527040/75302673-78407a00-5879-11ea-833e-a04418e84c7e.png)

@korkman
1. When there are still input from either stdin or command output, the spinner would show(50ms after first read)
2. The `dot` in the lower right actually indicates the matcher is working or not.

The spinner is designed for human, the dot is designed for CI. Or please explain you

[2020-02-26 05:11] derrickcope opened #274 "help with .bashrc function to replace ctrl-r"
Can someone help me with this function to search command history. I know there is a key-bindings.bash script but I don't want all those keybinds. I just want to put it in my .bashrc or .bash-profile. My bash-fu isn't up to the task. The below works but I would like to have it put the selected command in the terminal so I could edit it before I hit return.
Thanks for any help

[code]

[2020-02-26 12:59] Korkman commented on #273
The spinner seems to be missing with --inline-info.

[2020-02-26 14:10] lotabout commented on #274
@derrickcope Please refer to this:

[code]

[2020-02-27 01:41] lotabout commented on #273
Trying to add a spinner for inline-mode, just like the following:

[code]

[2020-02-27 03:39] derrickcope commented on #274
Thank you for the reply. I think it is a lot more complicated to paste into the buffer than  I realized

[2020-02-27 03:39] #274 closed

[2020-02-27 14:57] Korkman opened #276 "Zero results panic keybinds"
Tested in 0.8.0, minimum example:

`echo -n "" | RUST_BACKTRACE=1 sk --bind 'enter:execute(less)'`

Pressing enter gives:
[code]

My thoughts:
- For execute() with expanded braces `{1}`, cancel bind execution or exit with error.
- Offering a command "if-none-selected()" would be great.
- For binds with no expansion, they should be executed normally.

[2020-02-28 02:16] #273 closed

[2020-02-28 17:18] Korkman opened #277 "Click on column >= 96 crashes in Screen"
Version 0.8.0, when used within Screen (version 4.06.02), crashes when clicking on column 96 and higher. Does not happen in tmux.

[code]

Click on any x crashes skim with:
[code]

[2020-02-29 05:59] Aloxaf opened #278 "Can't preview string with nul byte"
[code]

Got an error:

![图片](https://user-images.githubusercontent.com/17017672/75601906-e8a9fe00-5afa-11ea-9fdb-9e6e7e45c9fe.png)

[2020-02-29 10:01] #277 closed

[2020-02-29 10:05] lotabout commented on #277
Screen will issue mouse event in the x10 style: `^[Mcxy`, `x, y` are the bytes indicating the cursor position. `tuikit` will parse the input into characters and it is no longer valid UTF8 when a byte is >=96.

[2020-03-01 06:14] #276 closed

[2020-03-01 07:01] lotabout commented on #278
Current fix will translate NUL character to `\0` before invoking the command. However if the command did not understand the meaning of `\0` then it won't work.

[2020-03-01 09:02] #278 closed

[2020-03-01 14:35] Aloxaf commented on #278
Another solution is to support `{f}`, which can write the string to a temp file.

eg.
[code]

[2020-03-08 02:33] vredesbyyrd opened #284 "Implement '{n}' placeholder expression"
Hi,

Any plans to implement the `{n}` placeholder? From fzf manpage:

...and {n} is replaced to zero-based ordinal  index of the line. Use {+n} if you want all index numbers when multiple lines are selected.

An example use case, It can aid in grabbing the content of _nth_ line from a file, eg,

`fzf --bind "enter:execute(sed -n \$(({n} + 1))p '/tmp/imdb_url')"`

Thanks for your time.

[2020-03-08 13:28] shibumi commented on #261
@lotabout I have tested your workaround and sk is inserting a newline at the end. Do you have any idea how i can strip this newline?

[2020-03-08 13:33] shibumi commented on #261
@lotabout ok got it.. I just need to add `--print0` :D

[2020-03-09 03:02] lotabout commented on #284
Closed by https://github.com/lotabout/skim/pull/287, was wrongly numbered in the commit message.

[2020-03-09 03:02] #284 closed

[2020-03-15 16:00] emmanueltouzery opened #288 "accept_key doesn't seem populated when using as a library"
Hi, skim is super nice! I'm using it as a library. I'd be interested in having several possible actions depending on whether the user presses enter or some other accept shortcut.

This does allow me to register another accept shortcut:

[code]

With that option, when pressing ctrl-j the action is acknowledged. However the accept_key I get back is still None:

[code]

`ak None` is printed even when

[2020-03-16 06:09] lotabout commented on #288
@emmanueltouzery Try out this option
[code]

[2020-03-16 06:34] emmanueltouzery commented on #288
thank you, this works! And I saw in the man page that in that case I should comma-separate multiple shortcuts, that works too:

[code]

and that works great. Maybe I'd just ask again my second question:

[2020-03-16 06:54] emmanueltouzery commented on #288
hmm I'm thinking that I could maybe use the preview window for that purpose (and maybe as well use it for its intended purpose). I think I could have vertical layout, preview window at the bottom, and put instructions there... Right now I don't see how it wouldn't work, must still try it though.

[2020-03-17 05:05] lotabout commented on #288
@emmanueltouzery

Currently no way to achieve this directly.

Alternative option:
1. `--header`:
    `sk --header='Help: Press c-j for X, enter for Y..'`
![image](https://user-images.githubusercontent.com/1527040/76823611-ae0cc900-684f-11ea-99a4-82c90a7f9e06.png)
2. preview window:
    `sk --preview='echo "Help: Press c-j for X, enter for Y.."' --preview-window=up:2`

    ![image](https://user-ima

[2020-03-17 19:51] pombadev opened #289 "Would you consider adding feature gate for cli and library?"
Since we can already use this as a [library](https://github.com/lotabout/skim/blob/a13bd4b1bf/README.md#use-as-a-library), i think it will be beneficial to separate them so that if someone consume this as a library, we don't pull un-needed crates (eg: clap).

[2020-03-17 20:46] emmanueltouzery commented on #288
thank you very much for all the assistance and answers, and for a great product!

[2020-03-17 20:46] #288 closed

[2020-03-21 21:10] nh2 opened #291 "1/1 occludes preview text"
I'd like to copy-pase text out of the preview window, but the `1/1` overlay text "occludes" (overrides) some of the contents:

![image](https://user-images.githubusercontent.com/399535/77236633-b141e500-6bc0-11ea-9270-17979ae0d867.png)

How can I disable the `1/1`?

In general, I've had trouble figuring out what that even is (is it some kind of page counter for the preview window?).

It would be g

[2020-03-25 14:48] shibumi commented on #261
@lotabout ok sad, suddenly it stopped working :S I was sure it would work, but seems the whole keybinding is wrong:
[code]
If I do this: `cp <STRG+x a>` and search for `testfile` I will have the following line in my shell:

`cp /usr/share/testfile`, then I add a ` .` at the end for copying it into the current path. But my zsh interprets this line:
`cp /usr/share/testfile .`
suddenly as: `cp .`

so

[2020-03-25 21:07] shibumi commented on #261
Ok, I think i really fixed it now with the following:

[code]

[2020-03-26 17:03] ngirard commented on #259
The problem still occurs using Skim 0.8.0.
Can I be of any help here ? Would you like me to record a screencast of my terminal ?
Cheers

[2020-03-28 16:53] dbarnett opened #292 "Question: Recommended setup for shell extensions?"
README doesn't say much about the shell extensions. What's the recommended way to set up e.g. <kbd>CTRL</kbd>+<kbd>R</kbd> in bash to trigger fuzzy history search once skim is installed with `cargo install skim`?

[2020-03-28 16:55] dbarnett commented on #292
Looks like #111 asked about the same, but nothing ever got added to the README.

Unlike fzf, skim often wouldn't be installed through a system package manager, so having some skim-specific instructions would be beneficial instead of just copy-pasting whatever's in the fzf docs.

[2020-03-29 10:10] lotabout commented on #259
@ngirard Could you please try

`RUST_LOG=debug <your skim command> 2> log.txt`

and paste the log here? Thanks!

[2020-03-29 10:26] ngirard commented on #259
Unfortunately that didn't help.
I executed `find | RUST_LOG=debug sk --bind 'enter:execute(echo {})+abort' 2> log.txt` several times.
Sometimes the command ran as expected, i.e. with sk exiting properly ; and sometimes the command ran improperly, i.e. with sk *not exiting*.
The contents of the log.txt file is the same in both cases, modulo the timestamps (which I verified using diff).

Here's the

[2020-03-29 10:51] lotabout commented on #291
@nh2 Problem understood.

It's actually `line_num/total_line_num` of the text to preview. Was designed to let user know the current offset.

As for how to fix, I don't like to have an option for every small tweak. Currently a "reasonable default" that I could come up with:
- Do not show the pager if the content could fit the window.
- Do not show the pager if the offset is 0.
- Show the pager othe

[2020-03-30 14:19] ngirard commented on #259
This defect is very annoying as it prevents me from using Skim and forces me to resort to using Fzf instead.

I'm actually surprised I'm the only one to have ever reproduced it. @lotabout, could you please try and reproduce it again ?

For instance, using `find /tmp |sk --bind 'enter:execute(echo {})+abort'` or (for a quiter output) `find /tmp 2>/dev/null|sk --bind 'enter:execute(echo {})+abort'`

[2020-03-30 14:23] ngirard commented on #259
Also @lotabout, is there any workaround you could give me, that would allow me to keep using Skim ?

[2020-03-30 15:11] lotabout commented on #259
@ngirard
1. I WILL try to reproduce.
2. What exactly do you want to achieve? So that I could check if there is any workaround.

[2020-03-30 15:12] lotabout commented on #259
@ngirard Oh, which arch do you use? `linux-gnu` or `linux-musl`?

[2020-03-30 15:38] ngirard commented on #259
Wow... I hadn't thought about that. I was using the `linux-musl` build, and according to my preliminary tests, the problem **doesn't seem to arise using the `linux-gnu` build**... Alleluïa ! Thanks for your suggestion !

[2020-03-31 02:06] sophiajt opened #293 "Windows support"
Is there interesting in adding Windows support, by chance?  With more recent libraries, like crossterm, and the new tui libraries, there's more available to build on than when https://github.com/lotabout/skim/issues/25 was originally asked.

[2020-03-31 08:05] lotabout commented on #293
@jonathandturner I am actually trying to use crossterm for window's support. But for now there are some blocking issues.

Currently:
- [ ] https://github.com/crossterm-rs/crossterm/issues/396
- [ ] https://github.com/crossterm-rs/crossterm/issues/397

[2020-03-31 14:36] lotabout commented on #259
@ngirard I finally got an Ubuntu machine and was able to reproduce the issue.
Seems that tuikit wasn't release the lock correctly at sometime. Should be fixed by the corresponding commit.

Will later publish a new release of tuikit.

[2020-03-31 14:40] #259 closed

[2020-03-31 16:36] ngirard commented on #259
Great !!! Thanks you so much, @lotabout !

[2020-04-01 12:25] lotabout commented on #289
Waiting for https://github.com/rust-lang/cargo/issues/1982

[2020-04-02 04:39] ryuta69 opened #298 "[Fix] item.get_index and item.get_output_text() returns "no method named `get_index` found for type `&std::sync::Arc<dyn skim::SkimItem>` in the current scope""
I tried your README section **Use as a library** below.
[code]

cargo 1.41.0
skim = "0.8.1"

output is

[code]

[2020-04-02 08:02] #298 closed

[2020-04-02 08:03] lotabout commented on #298
@ryuta69 Thanks for point this out. I've updated the document.

[2020-04-02 08:44] ryuta69 commented on #298
Thank you very much.

[2020-04-04 00:00] bedax commented on #289
In the mean time, an option would be to have something like this:

[code]

And then library users can disable default-features.

[2020-04-04 17:38] murlakatamenka opened #300 "[Library] nth option is broken?"
`examples/nth.rs`:

[code]

[code]

It generates a match `foo 123` although it shouldn't match anything (2nd field consists of numbers, we match on a letter). Am I doing anything wrong?

`skim` in terminal works as expected
[code]

[2020-04-04 20:56] mjyc opened #301 "Default value for "{}""
Thanks for sharing an amazing tool!

Is it possible for providing a default value for `{}`? If not, can you provide pointers to work on such feature myself?

[2020-04-05 18:37] mjyc commented on #301
Although not idea, I realized I could use shell script for check the value of `{}`. closing.

[2020-04-05 18:37] #301 closed

[2020-04-08 08:40] lotabout commented on #300
This issue is somehow a technical inconsistency.

* Previously skim provides a all in one API that accepts strings. So the options could control how the  lines are parsed and matched(e.g. `nth`).
* Current API could receive a stream of user customized items. It allows more customization but relies on user to provide item-specific info(e.g. `nth`)
* Now `SkimItemReader` only a simple wrapper that t

[2020-04-08 08:49] lotabout commented on #191
Close for now, please reopen if you have further questions.

[2020-04-08 08:49] #191 closed

[2020-04-08 08:50] #291 closed

[2020-04-08 08:52] lotabout commented on #291
The final solution is a bit different to what's described above: the offset would still be shown if the content could not fit into the window event when the offset is 0.

[2020-04-08 11:57] nh2 commented on #291
@lotabout Would you mind posting a screenshot of your solution?

My problem is not that a pager is shown when not needed, but that

* I cannot read the characters below the `1/1` (which is important to figure out whether that's the line I want to select or not)
* I cannot copy-paste the contents of the preview window out.

These might be fixed trivially by moving the pager one row up, to be part o

[2020-04-11 23:23] FranklinYu commented on #292
We can also fix this part, in addition… We already have Alpine, Arch, Fedora, and Homebrew. I’m pushing [MacPorts](https://trac.macports.org/ticket/60346) and [Debian](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=956078).

[2020-04-13 00:51] unclechu commented on #218
I went to the *issues* to ask about why it is mentioned in the `--help` but doesn't work as expected. So it seems it just isn't implemented yet?

[2020-04-13 01:08] unclechu commented on #218
Ah, I should have read usage info more carefully, it's in *not used for now* section.

[2020-04-13 13:05] pjmp commented on #289
@lotabout thanks for the response. You can either close this issue or keep it opened as you see fit, thanks!

[2020-04-13 14:45] safx opened #305 "Skim can't handle the beginning space of line properly on default AWK-style delimiter"
For example, when `git status -s` returns like this:
[code]
`git status -s | sk --nth 2 -e --filter field` exits with status 1 (No match).

expected result:
[code]

actual result:
[code]

In my investigation, BSD awk trims white spaces at the beginning of line for default whitespace delimiter: https://github.com/freebsd/freebsd/blob/master/contrib/one-true-awk/lib.c#L295-L296

[2020-04-13 21:06] murlakatamenka commented on #300
Thanks, I see it's a work in progress and things need time to stabilize and get shaped.

To be honest I quite struggle using `skim` as library once thing get a bit different from given examples.

For instance, slightly modified `custom_item.rs`, where we have a struct with `id: u32` and `inner: String`, want to match just on `inner` but output `id`:

[code]

Matching on `inner` causes out of bound

[2020-04-13 21:12] murlakatamenka commented on #300
I did explore how others [use](https://lib.rs/crates/skim/rev) `skim` but most of them used just `String` +  `SkimItemReader::of_bufread()` and matched on the whole lines.

Current workaround of how to match on needed range:

- use the same string for `text()` and `display()`
- override `get_matching_ranges()` with required range

String can be wrapped into `struct` that implements `SkimItem` trai

[2020-04-14 00:38] lotabout commented on #300
Thanks for point this out, it is a bug.

[2020-04-14 08:34] murlakatamenka commented on #300
I'm talking about library use of `Skim::filter` (https://docs.rs/skim/0.8.0/skim/struct.Skim.html#method.filter), it's been moved into binary and only `Skim::run_with` is available now (https://docs.rs/skim/0.8.1/skim/struct.Skim.html) for calling from library.

[2020-04-14 09:37] lotabout commented on #300
@murlakatamenka Misunderstood. No longer available.

[2020-04-15 22:00] adrianstaniec opened #307 "multiple tokens with rg"
hello lotabout,

I like the multiple tokens feature,
particularly than when I just write two words (separated by space)
they will be found even if order is different,
so that works nicely on filtering file names

however this feature is lost/broken when filtering lines,
when using `rg` recommended setup,
can I preserve this feature somehow?

one option I can think of, would be to
only pass the fir

[2020-04-16 02:32] lotabout commented on #307
@adrianstaniec To clarify, what is "multiple tokens feature"? Is it `rg -e <pattern1> -e <pattern2>`?

[2020-04-19 20:34] prabirshrestha commented on #293
What about [termwiz](https://docs.rs/termwiz/) which is also portable across multiple OS including Windows. It is used in [wezterm](https://wezfurlong.org/wezterm/) which is another gpu accelerated terminal written in rust.

It has [BufferedTerminal](https://github.com/wez/wezterm/blob/ea401e1f58ca5a088ac5d5e1d7963f36269afb76/termwiz/examples/buffered_terminal.rs) for optimal writes to terminal so

[2020-04-20 00:53] lotabout commented on #293
@prabirshrestha Thanks for point out `termwiz`, I'll have a look.

[2020-04-20 14:12] JodyStats opened #308 "`sk` suddenly stop working (no response)"
Hi, I am a big fan of Rust and has since moved to `sk` from `fzf`. Thanks for the great work.

Before updating 0.8.1, `sk` was working fine at all. After updating, all of a sudden it just stops working. `sk` does not have any response. I use `fzf` side-by-side with `sk` and `fzf` is still working as normal.

Using `pacman`. I removed skim. Reinstall it. Issue persists.

[code]

[2020-04-21 01:26] lotabout commented on #308
@JodyStats Would you please turn on the log and try to reproduce?

[code]

And paste the content of `x.log` here?

[2020-04-21 02:10] JodyStats commented on #308
Sure. I also did both `RUST_LOG` and `strace` for ya

[code]

[2020-04-21 08:40] paoloschi opened #309 "[feature request] sort of initial pre-selection"
I don't know if others might find it interesting; I happen to have scripting situations where such a functionality would be very handy.
A silly example:

[code]
![1](https://user-images.githubusercontent.com/14022008/79844266-bd85b180-83bb-11ea-91df-db72c289c3f6.png)

I figured out a new option that expects a regular expression, something like this:
[code]
![2](https://user-images.githubuserconten

[2020-04-21 13:42] lotabout commented on #308
@JodyStats Thanks! would you please try again with

`RUST_BACKTRACE=1 RUST_LOG=debug sk 2> x.log`

[2020-04-21 15:19] JodyStats commented on #308
Thanks for the help.

[code]

[2020-04-25 15:51] 0x777 opened #310 "[feature request] interactive mode: minimum characters to trigger the command"
I usually use the interactive mode with `rg` as follows:
[code]
which is great! However, I know that `rg` wouldn't give me any meaningful results for the first 2 characters in the projects that I'm working. So I've modified it as follows:
[code]
i.e, rg command is triggered only if the input is longer than 2 characters. Do you think it would be good to have this as an option in skim for interactiv

[2020-04-28 11:25] JodyStats commented on #308
@lotabout The issue is `v0.8.1` released a month ago. I install `v0.8.0` from source and `sk` works per normal

[code]

[2020-04-29 05:59] adrianstaniec commented on #307
By multiple token I mean:

do you know how to have the same search syntax when grepping lines/content?

[2020-04-29 21:16] mpasa opened #311 "Ansi option being ignored on the library"
It seems the `ansi` option using Skim as a library is being ignored.

## How to reproduce

Create a new cargo project

[code]

Add `skim` and `ansi_term` as libraries. The last one will be used to produce a colored string.

`Cargo.toml`

[code]

Run skim as stated in the documentation, with a colored string generated by ansi_term.

`src/main.rs`

[code]

## Expected behaviour

- The string should

[2020-05-02 19:15] Korkman opened #312 "Click into empty area selects non-existent items, crashes on subsequent execute()"
Version: 0.8.1

Start with a short list, then click into the area above / below items. Note the right hand index does change to an invalid item number. Any execute() bind then crashes skim.

Edit: also happens using pgDn key: select last valid entry, press pgDn - the index is set beyond the valid range. Off by one in this case (set to index 24, for 24 items, but index starts at zero).

Example:
`e

[2020-05-03 10:59] Korkman opened #313 "New binds: mouse double-click and / or "event-accept""
Improvement suggestion:

Currently it see no option to bind mouse double-click or a generic "accept" key to a custom action. Both would be nice to customize output beyond the --print-* arguments.

I imagine usage like this:

Bind mouse button actions just like any other button.
And maybe also add secondary mouse button (right-click):
[code]

Bind accept event, resume normally afterwards:
`
--bind

[2020-05-13 10:43] Korkman opened #314 "Suffix search with option --nth includes delimiter"
[code]
Should show line "testother;gamma", but doesn't.
[code]
Solves the mystery: delimiters are not removed from the searched content. This is probably not intended :-)

[2020-05-19 15:38] gustavonmartins opened #315 "[Feature request]: Install terminal auto-completion"
I have installed skim and prefer it over fzf, but I miss being able of pressing CTRL+T for auto completion in terminal, and CTRL+R for history auto complication and ALT+C for changing directory.

I have installed both fzf and skim thru brew, and after finishing the installation of fzf in brew it warns me that I can add those auto completions by running
/home/linuxbrew/.linuxbrew/opt/fzf/install

I

[2020-05-23 22:18] murlakatamenka commented on #315
That's seems to be a packaging issue, not of `skim` itself. For example, on Arch Linux skim comes with those conveniences:

https://www.archlinux.org/packages/community/x86_64/skim/ -> check package contents -> `completion.zsh` / `key-bindings.zsh`. I have it sourced in my .rc files and I can use key bindings like `Ctrl + T` to pick files and `Ctrl + R` to find a command in shell history. Maybe su

[2020-05-30 08:59] kvnxiao commented on #308
I am also having this issue with 0.8.1

[2020-05-31 21:41] shinokada opened #317 "Benchmark skm vs fzf"
If you have any benchmarks data on FZF vs SKIM, please add it to the README.

Thank you.

[2020-06-02 12:49] shinokada opened #318 "Open in VS code"
In stead of this:

[code]

Is there a way I can open it in VS code?

[code]

[2020-06-02 18:24] adam-r-kowalski opened #319 "Vim paste from register which searching"
Skim is a really great project, it seems to work really fast and give great results.

However, one thing that's really missing in my opinion is the ability to paste from a register when searching for a file in vim.

I may have a file path written out in the buffer I am working on and it would be great if I could search for the file at the cursor, or yank the filename into my register and then past

[2020-06-05 17:17] namoscagnm commented on #315
Yes, those files are installed, but I have to source them manually as you said. In fzf, after installing it can source it automatically for you. If you are a power user its ok to source it manually, but for most of people the auto sourcing of fzf is nicer.

I installed it thru pacman now in Manjaro and unfortunately the situation is the same

[2020-06-08 15:52] issadarkthing opened #320 "skim does not prioritize exact match"
skim
![image](https://user-images.githubusercontent.com/50593529/84051926-6cb92f00-a9e2-11ea-8309-26947093f300.png)

fzf
![image](https://user-images.githubusercontent.com/50593529/84052010-8e1a1b00-a9e2-11ea-8fcc-6d04318dc686.png)

[2020-06-23 16:58] xaocon opened #322 "Any way to adjust how the matcher works?"
It would be nice if it was possible to adjust how the matcher works or how "fuzzy" things can be. My main complaint about how things are now is that similar to #320. I often use it to ssh to prior hosts and while it's great about getting matching ssh commands but when I start to type in a host it often don't get good matches if the first couple of letters in the host are common. I'll start to type

[2020-06-24 16:44] kaushalyap opened #323 "[ Fedora ] Error: Unable to find a match: skim"
[code]

[2020-06-25 00:40] lotabout commented on #318
@shinokada Not so familiar with VS Code. The basic idea is that `$(find . -name "*.rs" | sk -m)` would output a list of filenames. Thus if `code` is able to open the listed files then it works.

[2020-06-25 00:45] lotabout commented on #323
@kaushalyap Thanks for report! However Fedora package is not officially supported. It was initially added by @ignatenkobrain.
@ignatenkobrain could you please help checking if it is still available if you got time?

[2020-06-25 00:49] lotabout commented on #322
@xaocon
1. No able to adjust the detail for matching algorithm for now.
2. You could try `'ssh 'ow` for example for exact match if you know that's what you need.

Hope that helps.

[2020-06-25 00:57] lotabout commented on #320
@issadarkthing Thanks for report.

* If what you'd like to do is exact matching, try the `'keyword` syntax. Or in your case you could type `node$` for suffix matching.
* For the algorithm, currently skim's algorithm did not apply such heuristic knowledge and will not before more investigation. Besides:
    * All these cases are "exact match"
    * I believe fzf gives more weights on the prefix and

[2020-06-25 02:55] lotabout commented on #308
@JodyStats It's been quite a while. I tried to reproduce this issue with archlinux docker image but failed to reproduce.

[code]

Could you please download the pre-built packages and check if you could reproduce?
https://github.com/lotabout/skim/releases/tag/v0.8.1

And also the frequency of this problem? Thanks!

[2020-06-25 05:26] ignatenkobrain commented on #323
Which version of Fedora is it?

[2020-06-25 06:52] kvnxiao commented on #308
@lotabout
Using `sk` downloaded from the pre-built 0.8.1 (skim-v0.8.1-x86_64-unknown-linux-gnu.tar.gz), it simply stops responding through my ssh connection to my Ubuntu 20.04 LTS (GNU/Linux 5.4.0-37-generic x86_64) server.

It simply hangs, and I am unable to provide input to it. I cannot `Ctrl+C` it either.

There is also no output when I attempt to use `RUST_BACKTRACE=1 RUST_LOG=debug sk 2> x.l

[2020-06-25 07:00] lotabout commented on #308
@kvnxiao Happens every time?

[2020-06-25 07:00] kvnxiao commented on #308
Yep, every time.

[2020-06-25 07:02] lotabout commented on #308
@kvnxiao Thanks for the information. I'll try to grab a Ubuntu 20.04 to reproduce.

[2020-06-25 07:09] kvnxiao commented on #308
Also just attempted to test 0.8.0, and would mention that this issue happens to 0.8.0 too (where I have to `pkill sk` to terminate it from hanging), but approximately 1-2 times out of 10 tries, it works. The rest of the time it hangs.

[2020-06-25 07:15] kvnxiao commented on #308
@lotabout I apologize, my previous comment saying that it happens every time in v0.8.1 is incorrect. It does start up on v0.8.1 only sometimes.

I took a screen recording of my terminal sessions on 0.8.1, please take a look:
![Fg6sqG278e](https://user-images.githubusercontent.com/14130413/85673700-288c8680-b692-11ea-8373-c2a9409a0136.gif)

[2020-06-25 07:27] kaushalyap commented on #323
@ignatenkobrain  It's Fedora 32 with Gnome.

[2020-06-26 01:01] lotabout commented on #308
@kvnxiao Would you please help me to reproduce with `RUST_BACKTRACE=full RUST_LOG=trace sk 2> x.log` and post the log?

Also, it would be great help if you could rebuild skim with debug symbols enabled before reproducing.

[code]

I've tried to setup a Ubuntu 20.04(virtual machine) + ssh (from mac), no luck with reproducing.
I know there could be potential dead locks with `tuikit` but unable to lo

[2020-06-26 01:06] kvnxiao commented on #308
This is all I see after building with `debug = true` and using `RUST_BACKTRACE=full RUST_LOG=trace sk 2> x.log`

[code]

[2020-06-26 01:08] kvnxiao commented on #308
When it _does work_ in the off chance,

these are the logs I get:

[code]

[2020-06-26 01:08] lotabout commented on #308
@kvnxiao Thanks, I'll have a look.

[2020-06-26 02:14] lotabout commented on #308
@kvnxiao Could you try the below pre-built version? Expectation: the below package would fix the issue.

[skim-debug.tar.gz](https://github.com/lotabout/skim/files/4834726/skim-debug.tar.gz)

If you worried about the pre-built image, would you please try:
1. git clone -b fix/init-hang git@github.com:lotabout/tuikit.git
2. modify skim's Cargo.toml
[code]
3. `cargo build --release`
4. use the binary

[2020-06-26 02:22] lotabout commented on #308
@kvnxiao However I believe your case is different with @JodyStats 's.

Your logs shows that `skim`(tuikit) is waiting for the cursor position(`^[<row>;<col>R`) while the report is not complete.

[code]

So that `sk` hangs on waiting for the remaining keys. The above fix should avoid the hanging situation, but you may still get the wrong cursor position since the report is still not complete.

Whil

[2020-06-26 02:24] kvnxiao commented on #308
@lotabout Can confirm that the new binary you uploaded works 100% of the time (at least when I tried to start sk about 20 times)

[2020-06-26 02:25] lotabout commented on #308
@kvnxiao Thanks! I'll commit the changes to master.

[2020-06-26 02:52] #308 closed

[2020-06-26 04:02] kvnxiao commented on #308
@lotabout Thanks! could you also publish the 0.8.2 update on crates.io?

[2020-06-26 06:42] lotabout commented on #308
done.

[2020-06-26 07:50] ignatenkobrain commented on #323
Thanks, I'll fix this today!

[2020-06-26 18:56] ignatenkobrain commented on #323
Should be fixed with https://bodhi.fedoraproject.org/updates/FEDORA-2020-ffe6a4ac9a. Please test it and leave karma there.

[2020-06-27 07:36] kaushalyap commented on #323
@ignatenkobrain How long will it take for update to reach the stable channel?

[2020-06-27 20:41] DanielFGray opened #324 "--no-clear option to disable alternate screen restore"
fzf has an option `--no-clear`:

        --no-clear
              Do  not  clear  finder  interface  on  exit.  If fzf was
              started in full screen mode, it will not switch back  to
              the original screen, so you'll have to manually run tput
              rmcup to return. This option can be used to avoid flick‐
              ering of the screen when your application needs to

[2020-06-29 08:41] ignatenkobrain commented on #323
Should be already there @kaushalyap

[2020-06-29 17:00] kaushalyap commented on #323
Yeah it is there! thanks @ignatenkobrain and @lotabout

[2020-06-29 17:00] #323 closed

[2020-07-01 10:09] lilydjwg opened #326 "Preview stops updating"
`cargo run -- --preview 'echo {}'` and move up, the preview stays the same.

1d72fcac572f17039900905e232981f1ad8e07ef is the first bad commit for this.

[2020-07-01 11:11] lotabout commented on #326
Thanks! I'll check into it.

[2020-07-01 13:55] #326 closed

[2020-07-01 15:36] lotabout commented on #317
I haven't done any serious benchmark. But sadly skim is much slower than fzf.

* If the data size is small(e.g. < 100k lines), normally the loading and matching finished "instantly" for both skim and fzf
* When it comes to large datasets, skim is around 2x ~ 3x (or more) slower in my experience.

More details: the bottleneck is more about memory than CPU.
* The overhead of skim's item is 88B while

[2020-07-01 20:51] #317 closed

[2020-07-02 19:21] philsnow opened #328 "Option to discard output of interactive commands that exit with non-zero status"
## Background

I just found `skim` and I love it -- I've long wanted a tool that lets me very quickly iterate on interactive command line filters, to eliminate steps in the "run command, look at output in pager, quit pager, move cursor to right place in the command, re-run" loop, and `skim`'s interactive mode provides that.

I have a shell function that I use to run `jq` from `sk`:

[code]

1. `--

[2020-07-02 23:51] LamaRaz commented on #317
xz -d < 200mb_compressed_list | sk  is almost 2 times slower than fzf and takes almost 2 times the memory

it is sad that something written in a "system's programming language" is that much slower than a garbage collected language.

hopefully something is done. the absurd memory consumption makes it unusable in my case.

[2020-07-07 08:08] pickfire opened #329 "Add colored help"
[code]

But if won't work if help was overridden.

[2020-07-17 18:24] marcotrosi opened #330 "Question: how to omit the item of the current cursor position when using multi select?"
Hi lotabout,

I have a question regarding selecting items with -m flag.

sk and fzf both mark items with the TAB key, and both confirm the selection with the ENTER key.

The difference is that when your cursor is on a non-marked item (marked in the sense of having used the TAB key to mark it) then fzf wont add it to the list when I press the ENTER key, but skim will add the item my cursor is on wh

[2020-07-19 05:34] lotabout commented on #330
@marcotrosi which version of skim do you use? It should be consistent with fzf in the latest version.

[2020-07-19 07:00] marcotrosi commented on #330
0.5.2 via home brew on macOS

[2020-07-19 07:02] marcotrosi commented on #330
oh I see there is already 0.8.2 available on GitHub. Maybe I can force home-brew to update. thanks for your reply

[2020-07-19 07:28] marcotrosi commented on #330
@lilydjwg just tested for me with a newer version and there it behaves as expected. I now asked at home-brew land for an upgrade.

[2020-07-19 07:28] #330 closed

[2020-07-20 13:10] g-w1 opened #331 "There is a panic in skim when using in a library."
Expected behavior: does not panic.
Behavior: Panics
Here is my code
[code]
it starts out normal
![image](https://user-images.githubusercontent.com/58830309/87941069-909f7400-ca68-11ea-8517-deb5ecb64f4f.png)
but then when I start typing to select an item this happens.
![image](https://user-images.githubusercontent.com/58830309/87941205-c0e71280-ca68-11ea-8fff-0f85f2604942.png)
![image](https://user

[2020-07-20 14:21] g-w1 commented on #331
Could it be because I am using Cow::Owned instead of Cow::Borrowed for the text function?

[2020-07-20 16:16] g-w1 commented on #331
No. I think it was because I had a function in the display instead of just getting the text from the object.

[2020-07-20 16:17] g-w1 commented on #331
[code]

[2020-07-23 19:26] gbstan opened #332 "Example script that could be useful"
Here is a zsh script based on sk, rga, and bat that could be useful. Feel free to use it as an example if you want.

[code]
Suggested by [@gbstan](https://github.com/gbstan)

[2020-07-25 20:44] SirWindfield commented on #293
I was super excited to have a library that offers advanced fuzzy search. Not a binary, a library that I can embed as well in my applications.
Windows support would be really nice to have! Anything I can do to help? 🤔

[2020-07-26 06:05] marcotrosi opened #334 "Question: TAB key direction"
Hi @lotabout
hi everyone reading this,

in your documentation you write ...
TAB | Toggle selection and move down (with -m)
Shift-TAB | Toggle selection and move up (with -m)

So I use -m --reverse and when I press the TAB key that object is marked and the next line will be highlighted.

But to all people that don't want to use --reverse, isn't it annoying that you have to press Shift-TAB to select

[2020-08-03 08:48] Konfekt opened #335 "argument +m from fzf invalid in sk"
In

[code]

the argument `+m` is known to `fzf` but not to `sk`, causing an 'invalid argument' error.

[2020-08-12 13:17] keblek commented on #315
I am on ubuntu and installed through 'cargo install' it would be nice if there was a short section in the readme for how to turn these features on

[2020-08-15 01:34] skbolton commented on #335
I am not a contributor to this project, but I don't think the intent is to have exact feature parity or api alignment with fzf. To enable multi in skim you do `--multi` to disable `--no-multi`.

[2020-08-15 02:13] openaphid opened #336 "Load default color settings from configure file"
I'm using a different color scheme in my terminal, which makes the default colors of `skim` difficult to use. For example, the highlighted words are hard to read.

Although I can use `--color=` to customize it, I have to apply it in three places:
1. `.bash_alias` for `sk` command
2. my `irg` script file for interactive `rg`
3. `/usr/local/Cellar/sk/0.8.2/etc/bash_completion.d/key-bindings.bash` fo

[2020-08-15 13:21] Konfekt commented on #335
This line https://github.com/lotabout/skim/blob/eac57be525e76ff44f82b860a290a517b6fcf85a/shell/completion.bash#L247 is part of  this repo. Does `--multi` achieve what `+m` meant to achieve?

[2020-08-17 14:44] skbolton commented on #335
`+m` disables multi select so the correctc option is `--no-multi`

[2020-08-17 15:27] Konfekt commented on #335
Thank you!

[2020-08-17 15:27] #335 closed

[2020-08-20 01:13] alexxbb opened #338 "[Library] Key bindings"
I'm trying to build a search tool ontop of skim and I was wondering how to bind shortcuts to execute actions in the same process.

[code]

The problem is that `execute(cmd)+abort` will shell out a new process and abort, but I need to handle it in the same code. i.e I need something like `accept` event, which will pass along a key like:

`strl-s:accept(foo)` - this "works" in a way that I can check

[2020-08-25 04:01] zdykstra opened #339 "Preview window size seems to be off-by-one"
Thank you for an excellent piece of software! It's essentially drop-in compatible with `fzf` flags, which is a great achievement! While integrating `skim` into an existing project, https://github.com/zdykstra/zfsbootmenu, I've found that a preview window at the top of the screen is off by -1 row in size. This can be readily tested / compared to the behavior of `fzf` as follows:

`ls | fzf --previe

[2020-08-26 00:04] lotabout commented on #339
@zdykstra Thanks for loving skim.

The behavior is by design. Skim use only one line instead of a bounding box for preview window.

[2020-08-28 17:56] tombh commented on #315
Another point is that it's not mentioned anywhere in the docs that this repo comes with shell bindings and completions.

[2020-08-31 21:09] kurnevsky opened #340 "CTRL-R inserts chosen element to a new line"
When I choose an element from a list it's being inserted to a new line in zsh. In bash it's even worse - it puts "`__skim_history__ 23`" to the first line for some reason. fzf works fine in both cases - it inserts the chosen element to the same line.

[2020-09-01 04:49] kurnevsky commented on #340
It gets inserted by skim after executing this line: https://github.com/lotabout/skim/blob/eac57be525e76ff44f82b860a290a517b6fcf85a/shell/key-bindings.zsh#L72-L73

As a workaround it can be wrapped to `echo -ne "\e[1s"` - `echo -ne "\e[1u"` so the cursor stays at the same position as it was before calling skim.

[2020-09-01 13:29] kurnevsky commented on #340
Probably it's a good thing that skim doesn't move the cursor one line up. So I did in my config: https://github.com/kurnevsky/dotfiles/blob/b1f0b1471ecad842b3158f88f2fb65d3b5d05357/.zshrc#L195

But anyway this should be fixed in the shell scripts.

[2020-09-06 05:18] resolritter commented on #320
The issue is misleading. The behavior shown in the picture is due to the `tiebreak` FZF option which defaults to "length".

https://github.com/junegunn/fzf/blob/43798fc2e801f4c5e6b9c3d048fb09eb8c7b6401/src/options.go#L38

i.e. since all got the exact match, due to this `tiebreak` rule, the shortest one got sorted first.

---

Skim already supports this option, although it does **not** select `leng

[2020-09-10 09:15] #320 closed

[2020-09-11 07:03] quentm74 opened #341 "Add support for multi-line header"
In some of my custom functions in zsh where I use fzf, I use multi-line headers. It would be great if skim supported multi-line headers so I can completely replace fzf by skim.

Here is an example that shows the differences.

[code]

Thanks for your work !
Let me know if I can help (I looked at the code and I am not sure what would break).

[2020-09-13 17:27] wucke13 opened #342 "Skim as library: provide information about text widths"
I'm currently building a CLI tool for configuration management around skim, where skim is used to select a few out of a very huge amount of options. The options have descriptions, with sometimes multi-sentence long explanations. It would be nice to know how to line-wrap these. So in general it would be very nice to know how the width/cols & height/rows of the preview box and the interactive select

[2020-09-13 23:03] ZaMaZaN4iK opened #343 "Use skim as agrep utility"
Hi!

Is it possible to use `skim` as a some kind of replacement for `agrep` utility? What I want to do: just use command like `history | agrep some_pattern | tail -n 50` without any kind of interaction - only raw results, which can be piped to an another utility.

With `skim` I cannot understand, how to run it without interactive mode.

Thank you.

P.S. I fully understand that under the hood `skim

[2020-09-14 00:57] lotabout commented on #343
@ZaMaZaN4iK Not sure if this meet your need: `history | sk -f some_pattern | tail -n 50`

[2020-09-14 01:13] ZaMaZaN4iK commented on #343
@lotabout oh, you are right. I didn't find this flag in `man` - my bad. Thank you a lot :)

[2020-09-14 01:13] #343 closed

[2020-09-17 12:57] wucke13 opened #344 "`SkimItem` documentation claims the matcher runs against `text()` which is not the case"
The documentation claims that the matcher runs against `text()`:

(Please notice also as well that `the` should be capitalized and that a space should be placed before the opening parantheses)

 Thus I would expect, that an item which returns some pattern in `text()` can be matched by this pattern, regardless of what `display()` returns. Considering this minimal example,  this expectation is not f

[2020-09-20 00:45] #318 closed

[2020-09-20 11:53] damionx7 opened #346 "Skim hangs on search in a large document"
when I search in a large file, skim hangs and the UI becomes unresponsive. I know searching large documents can take time but can we have something so the UI is not freezed.

[2020-09-20 11:53] #346 closed

[2020-09-21 19:39] MarioJim commented on #342
I'm also building a CLI tool to search pdfs, and would like to access what's currently written in the search box to display the preview. I think a reasonable solution would be passing a reference to the Previewer when calling `SkimItem.preview()` and then accessing the info from there, like [this commit I did](https://github.com/MarioJim/skim/commit/1522d4b32eb922052c06755a0a6099a21ecb9423?branch=

[2020-09-23 23:56] rsyi opened #348 "`bat` in the preview command doesn't appear to be rendering colors"
First of all, I love this implementation of fuzzy search! I've been building a library that uses fzf, but recently switched to rust and skim and have been overall super happy. Thanks for your hard work!

One problem I've been having, however, is that I'd like to use [bat](https://github.com/sharkdp/bat) for my previews, which provides a really beautiful, colored view of the preview. But the colori

[2020-09-29 14:12] n8henrie opened #349 "kill-line not working in interactive mode"
Is there a way to get `ctrl u` to clear the current line in command / interactive mode?

Minimal example for reproduction:

1. Run `sk`
1. In the prompt, type `asdf`
1. Type `ctrl u` and note that the `asdf` is cleared
1. Hit `ctrl q` to enter command / interactive mode
1. Type `asdf`
1. Type `ctrl u` and note that nothing happens

Seeing this behavior on MacOS Catalina, installed via homebrew, an

[2020-10-04 02:14] #349 closed

[2020-10-04 02:45] lotabout commented on #348
@rsyi Would you please try `sk --preview "bat {} --color=always"? I believe it's because `bat` disabled the highlight in "auto" mode.

[2020-10-05 02:55] #341 closed

[2020-10-05 02:55] #342 closed

[2020-10-05 02:55] #344 closed

[2020-10-05 04:32] lotabout commented on #334
Theoretically yes. `TAB` should move **up** in normal mode and **down** in reverse mode by definition.

However I do think it's better to keep the movement direction consistent since we have "muscle memory". So the last thing is whether `TAB` should go up or down. And I believe **down** is the common case.

Comment are welcome :)

[2020-10-05 04:35] lotabout commented on #329
Thanks for the suggestion. Skim do override the help messages. Clap's built in message don't render well for complicated messages.

[2020-10-05 04:35] #329 closed

[2020-10-05 08:47] #324 closed

[2020-10-05 08:49] #339 closed

[2020-10-05 10:22] #300 closed

[2020-10-05 10:28] lotabout commented on #331
Should be fixed on master branch.

[2020-10-05 10:28] #331 closed

[2020-10-05 13:15] #312 closed

[2020-10-05 13:20] lotabout commented on #311
Same issue as #300 , should be addressed in `master` branch.

`ansi` option now belongs to `SkimItemReader` and is removed from `SkimOptions`.

[2020-10-05 13:20] #311 closed

[2020-10-06 15:32] murlakatamenka commented on #300
Thank you 👍

[2020-10-08 00:39] rsyi commented on #348
Beautiful. That works! Thanks! :)

[2020-10-08 00:39] #348 closed

[2020-10-10 08:38] quentm74 commented on #341
Can you explain me why you closed this issue ?
Aren't you able to reproduce this issue ?

[2020-10-10 11:32] lotabout commented on #341
@quentm74 It's supported now on master branch.

[2020-10-10 12:59] jgouly opened #353 "Segfault when building with nightly"
I tried to build `skim` with a nightly `rustc 1.49.0-nightly (38d911dfc 2020-10-09)`.
It builds fine, but segfaults when running. It segfaults in `std::mem::uninitialized`. After a quick look it seemed to be due to `nodrop`.

After running `cargo update` and rebuilding, everything seems fine. It might be worth a full `cargo update` or just updating `arrayvec` and `crossbeam-epoch`.

[2020-10-14 14:50] #353 closed

[2020-10-14 20:06] balta2ar opened #354 "wiki contribution: skim grep widget"
Hi! This is not an issue but just a contribution.

I have a very useful zsh skim configuration, which I think was suggested by you somewhere, that is to start searching in a console by hitting ctrl-s:
[code]

I did a minor modification -- I added a glob argument to `__grep` so that when you first type a file name glob in the shell, rg will only search for the files matching that glob. Maybe someon

[2020-10-15 14:51] #218 closed

[2020-10-15 23:26] rsyi opened #355 "cargo install is broken"
Seems like there's a breaking change in a `tuikit` enum:

[code]

[2020-10-16 00:22] lotabout commented on #355
@rsyi Thanks for report, would you please use latest master and try again?

[2020-10-17 09:55] #309 closed

[2020-10-17 09:56] lotabout commented on #309
New options are supported:

[code]

[2020-10-17 13:16] paoloschi commented on #309
__That's great__!! I 'm very grateful for these new added functionalities!
Endless thanks @lotabout

[2020-10-18 02:23] #338 closed

[2020-10-18 03:19] #328 closed

[2020-10-18 03:20] lotabout commented on #328
@philsnow

This is unnecessary because empty query would preserve all lines by default.

New option `--no-clear-if-empty` is implemented to meet this need.

[2020-10-18 03:45] lotabout commented on #340
@kurnevsky I've sync fzf's latest shell script in commit https://github.com/lotabout/skim/commit/6fdbe38f7a69873631f1c4e069d8db969f52d3fc, would you please try the latest master?

I won't maintain the shell scripts but will occasionally sync fzf's.

[2020-10-20 03:01] yantene opened #356 "Panicked at ''range start index 10 out of range for slice of length 7'"
- distro: archlinux
- version: v0.9.0

After updating the skim version, I'm getting an error when doing the following:

[code]

The details of the error are as follows.

[code]

It depends on the directory structure of the current directory.

Is there anything I can do?

[2020-10-20 03:28] timsampsoncujo commented on #356
I came here to file the same bug. Steps to repro are basically something very similar. Run the following:

`[command that outputs text including ansi colour codes] | sk --ansi` and then hit 'w'

=>
[code]

[2020-10-20 08:15] lotabout commented on #356
Sorry for causing trouble. It's been fixed on master by commit: 7f3c73c. I'll file a new release soon.

[2020-10-20 08:15] #356 closed

[2020-10-21 08:47] miy4 opened #359 "Crashes with multi-byte characters input and --regex"
After update to 0.9.1, I'm having trouble with sk.

[code]

After inputting 'a', sk crashes with the following message:

[code]

What should I do next? My environment is as follows:

OS: Arch Linux on Windows 10 x86_64
Kernel: 4.19.128-microsoft-standard
CPU: Intel i7-7700 (8) @ 3.600GHz
Shell: zsh 5.8

[2020-10-21 11:52] pauschuu opened #361 "literal space not possible"
The [man page states](https://github.com/lotabout/skim/commit/67252d6c5117b6149c4138a5ec94824be5ed60db#diff-20f42542fc486fdfc60d6ae60000ee55ff2c094bb015eba8aef1e9bcfbb7001eR342) that a literal space is possible when preceded by a backslash.

But I couldn't find any search mode that makes that behaviour possible.

I guess this sentence in the man page is a leftover from the original fzf man page.
N

[2020-10-21 15:04] #359 closed

[2020-10-21 16:33] miy4 commented on #359
Thank you! 👍

[2020-10-21 18:19] Kyle-Thompson opened #363 "[FEATURE REQUEST] Install from cargo"
It would be great if skim could be install directly from cargo like many other rust tools. Being able to do something like

[code]

would be great.

[2020-10-21 23:58] polyzen commented on #363
You can: https://github.com/lotabout/skim#hard-core

[2020-10-22 03:13] Kyle-Thompson commented on #363
Oh I missed that single bullet point. Thanks.

[2020-10-22 03:13] #363 closed

[2020-10-23 00:18] #361 closed

[2020-10-23 22:15] lebensterben opened #365 "Integration with `ripgrep` not working"
I have `sk 0.9.1` and `rg 12.1.1` installed, both via `cargo-install`.
Both `sk` and `rg` are in my path, and they work well independently.
But I cannot integrate them with `sk --ansi -i -c 'rg --color=always --line-number "{}"'`.
Nevertheless, `sk` is working with `grep`. ( I don't have `ag` or `ack` so I cannot test these ).

[2020-10-24 00:59] lotabout commented on #365
Please describe what you’ve done, what you expect and what actually happen. Thanks.

[2020-10-24 01:08] lebensterben commented on #365
- After typing the command and press enter, the program `rg` starts with no query pattern and search result, which is what's expected.
- But even after I entered a pattern, there's no feedback at all.
- For example, suppose in a directory where some files contain the pattern `foo`,
    - I can `rg foo` or `grep foo`, which yields same results.
    - I can use `sk`'s integration with `grep`, that a

[2020-10-24 01:46] lotabout commented on #365
Could you remove “—color=always” and try again?

A known bug would break ansi display, not sure if that’s the cause.

[2020-10-24 02:06] lebensterben commented on #365
@lotabout
I believe I found the bug and it's not related to `color`.
What I've noticed is:
- When I tried to add `--preview="bat --color=always {}"`, and it shows a *correct* error message that `bat` is not found. This results from how I specify my `PATH` environment variable that non-interactive shell won't see `~/.cargo/bin`. And it's perfectly fine if I use `--preview="$HOME/.cargo/bin/bat --co

[2020-10-24 02:10] lebensterben commented on #365
Also, a fully working command where I can use both `rg` for searching and `bat` for preview, is

[code]

For majority of users it's as simple as

[code]

[2020-10-24 02:20] lebensterben commented on #365
[code]

[2020-10-24 05:15] lotabout commented on #365
Thanks! I’ll dig more into the that.

[2020-10-24 13:47] #365 closed

[2020-10-25 12:59] entropitor opened #368 "Sorting help"
Is it possible to configure skim to look for initials?

E.g. I have files like the following
[code]

When I reproduce it with the text above and search for "rfb", it seems to pick the first r of raspberry like it should and the r of fruit for the other two and thus gives raspberry-fruit as the first option. However, when I reproduce locally with similar strings I get different problems:

[code]
Wh

[2020-10-27 00:01] aswild opened #369 "options --exit-0 and --select-1 cause unexpected exits when filtering"
My impression of the `--exit-0` and `--select-1` options are that they're most useful when piping some custom command into `sk`, to essentially bypass the TUI and immediately exit if there's 0 or 1 lines piped into `sk`, and it does this as expected.

What's unexpected is that these options also cause an immediate exit when interactively filtering in the UI as soon as a query is entered that match

[2020-10-27 00:14] aswild commented on #369
Since I like hacking on my tools (my main interest in skim over fzf in the first place because I prefer Rust to Go), I whipped together this quick patch that seems to make --select-1 and --exit-0 behave more like fzf.

I'm not sure whether this is a terrible hack or a reasonable path, but the idea here is to keep track of the most matching options that have ever been seen, and trigger the exit on

[2020-10-29 17:32] hajdamak opened #370 "Exa with icons displays wrong colors in preview"
[Exa](https://github.com/ogham/exa) executed with icons option displays colored output like this:
`exa -1 --icons /`
![image](https://user-images.githubusercontent.com/307697/97609181-90bdf100-1a13-11eb-97b8-08c11eb63b92.png)
when executed as preview in skim, for example:
`sk --preview "exa -1 --color always --icons /"`
colors are incorrect :
![image](https://user-images.githubusercontent.com/3076

[2020-10-31 13:58] paoloschi opened #371 "initial current line (cursor) position when useful --tac"
let's say that _sk_, in _--layout=default_ mode, is showing me this situation but I prefer the reverse order

[code]

in that case, I can rely on the --tac option

[code]

now, however, the initial element selected, in the logic of the contents, is no longer the first but the last one.
ideally I would like to be able to open _sk_ with this condition

[code]

but I can't find the way.
I was wonderi

[2020-11-01 09:39] paoloschi opened #372 "Can't --bind and --expect options be declared together?"
with
[code]
if I press _enter_, as expected, nothing happens.
but if I also declare _--expect_
[code]
_enter_ again acts its default action.
is this intentional?

[2020-11-02 14:26] lotabout commented on #370
should be fixed by https://github.com/lotabout/skim/commit/3d4be6b294e7161c6e8249e77e4adb2b44246c6e

[2020-11-02 14:26] #370 closed

[2020-11-02 14:36] #372 closed

[2020-11-02 14:43] #369 closed

[2020-11-02 14:43] lotabout commented on #355
If error still occur, feel free to reopen.

[2020-11-02 14:43] #355 closed

[2020-11-02 14:49] lotabout commented on #368
Skim's fuzzy matching and ranking algorithm is described here: https://github.com/lotabout/fuzzy-matcher/blob/master/src/skim.rs#L552.

Currently there is no way to tweak skim's matching algorithm. Maybe later.

[2020-11-02 22:20] aswild commented on #369
Thanks for the fix!

[2020-11-09 04:56] deankarn opened #373 "library: non-interactive mode feature request"
First off thanks for this package, exactly what I was looking for fuzzy finding in the terminal.

I was wonder if it's possible now, or in the future, to be able to use the package as a library in a non-interactive mode?

My use case is that I wish to fuzzy find lines from a file using some query input and take the first 5 best matched results. These results will then be forwarded to another piece

[2020-11-12 20:12] salkin-mada opened #375 "--border not working"
`sk -v` 0.9.3

`sk --border=sharp --preview='head -$LINES {}'` no borders.
cant get any of these to work: `left|top|rounded|etc|etc..|all of them` :)

same with `export SKIM_DEFAULT_OPTIONS='--layout=reverse --border=rounded'` layout is reversed but no border

maybe some difference from fzf here, something i am missing?

[2020-11-13 01:17] lotabout commented on #375
Sorry that it’s not implemented and I am currently not interested in implementing it.

It would be of great help if you could describe when border is helpful.

[2020-11-13 12:05] salkin-mada commented on #375
ah i see : -)  . Border is not super helpful. Was just wondering because i am on Arch Linux and i make my own application-launcher, window-switcher, package-manager TUI, etc. using `fzf` and now i ported everything to skim. because `rust` rocks! and skim is so nice.
so back in the pre `sk` days i was using the very limited TUI border thingy on `fzf`. but no need really. maybe i should just use ski

[2020-11-13 12:05] #375 closed

[2020-11-28 14:37] 0x777 opened #376 "noticeble input delay with interactive command mode from v0.9.2"
I'm using `sk` with `rg` as follows in my editor:
[code]
When I run that command (say in `skim` repo) and start typing the search term (say `type CommandOutput`), there is a noticeable delay from when I typed a character to when it is printed on the terminal. When I try the same command with version `v0.9.1`, it is much snappier. The terminal I use is `zsh` if that is relevant.

[2020-12-09 18:48] rsyi commented on #355
Yep! It looks like it's resolved. Sorry for the delay. :)

[2020-12-10 00:40] mporracindie commented on #373
I was going to ask for something really similar so I'm joining this request.
I know that Skim has a lot of features for dealing with commands and so on but it would be handy if we can use it just as a finder library (without the graphical interface). Do you think this might be possible?

[2020-12-10 13:41] lotabout commented on #373
Maybe https://github.com/lotabout/fuzzy-matcher? It is the matching library that skim uses.

[2021-01-04 11:11] igorhub opened #383 "Taking recency/frequency of matches or sorting weights into account"
Greetings!

I’d like to suggest a feature: taking recency and frequency of matches into account, either directly (I feel it’s a killer feature which deserves to be turned on by default) or by accepting a list of weights from the outside (more general approach that can be used for wider range of problems, such as this one: https://github.com/junegunn/fzf/issues/2068).

I use fzf and ivy side by sid

[2021-01-04 14:22] emmanueltouzery opened #384 "[feature request] control+arrow to move the cursor one word at a time"
`fzf` does support control+arrow to move the cursor one word at a time when entering the query text, it would be nice if skim allowed that too.

[2021-01-05 22:58] dicktyr opened #385 "filter mode issues"
results are sorted usefully as expected in interactive mode
but in filter mode the results are not sorted

--tac is ignored

man page for option -f reads

but score is not output

[2021-01-17 12:16] everyTiiNG opened #386 "freeze when hit delete key"
OS: Arch linux
skim version: 0.9.3

skim is froze every time I hit delete key. I cannot Ctrl-C or Ctrl-D to exit from skim.

[2021-01-18 09:03] blooper05 opened #387 "Piped input source `command | sk-tmux` is not working since v0.6.0"
Hi! Thank you for a useful tool 😆

As mentioned in the title, I noticed that I was not able to pass piped input to `sk-tmux`.
Here is the minimal reproduction procedure I checked.

[code]

After testing with several versions, it seems that this has been happening since v0.6.0.

[code]

I've checked the shell scripts in [`sk-tmux`](https://github.com/lotabout/skim/blob/v0.9.3/bin/sk-tmux), compared

[2021-01-26 20:33] minad opened #388 "Embedding skim in Emacs - Pipe mode"
I looked into `fzf` and for the possibility to embed it into Emacs. For this I need a "pipe mode" where I can send the filtering string and receive the updated list of search results, e.g. when calling `find -type f | fzf`. Unfortunately it seems `fzf` does not support this, so I have been looking for alternatives and found `skim`. The input string could be read from an additional file descriptor

[2021-02-04 01:40] MikeCain opened #390 "Reading SKIM_DEFAULT_OPTIONS when used as a library"
Hi,
I looked a little into using skim as a library, but it didn't look as though there was a way to pick up on the system-defined options like `SKIM_DEFAULT_OPTIONS` and `SKIM_DEFAULT_COMMAND`.

Does library skim have this functionality?  If not, I'm interested in the potential work involved in adding that.

Thank you very much for your work on this, by the way.

[2021-02-14 10:04] #386 closed

[2021-02-14 13:04] lotabout commented on #390
Currently `SKIM_DEFAULT_OPTIONS` is picked up by [main.rs](https://github.com/lotabout/skim/blob/master/src/bin/main.rs#L160), converted to `SkimOptions` and passed to skim library. I'd like to keep it this way for separation concern.

I understand that reading options from environment variable could be convenient when working with skim library. Helpers might be added for constructing `SkimOptions

[2021-02-14 13:05] #376 closed

[2021-02-15 01:40] #387 closed

[2021-02-15 01:49] lotabout commented on #373
Close. Please reopen if more information is needed.

[2021-02-15 01:49] #373 closed

[2021-02-15 02:58] #384 closed

[2021-02-18 20:13] SachinMaharana opened #394 "Pass function to preview when used as library."
Is there a way to pass a function to preview when used as library?

Currently i am using it as
[code]
I would like to pass a function(fn some(arg)) to preview. i did saw the docs but couldn't find any way to do it.

[2021-02-20 21:09] 4ricci opened #395 "Tests fail on 32-bit"
On Void Linux i686 compilation of skim-0.9.4 is successfull and the generated program seems to work, but I can't run the tests suite.

[code]

[2021-02-25 22:13] julien opened #396 "Disable popup window in vim plugin?"
I was wondering if there's a way to display the results with no popup window, like in the terminal (xterm at least) via an option, I think that this was the case a few versions back.

Thanks

[2021-03-17 16:33] bionicles opened #397 "shortening long filenames"
I have some long filenames from synthetic data which put uuid in the filename (dumb but not my fault!)

ex `Zula72_Ondricka197_907bd608-e768-4ce4-a5d8-4c7ba87bffa5.json`

it takes up so much space it's hard to see the preview, is there a way to shorten the filenames in skim without renaming the files?

[2021-03-18 22:31] AlexCzar opened #398 "Add an option to specify how much to scroll on preview-up/preview-down"
When I'm reading the text in the preview and have to scroll, the text jumping by a whole page breaks the reading flow.
If possible, please, add an option that a user could set to make the preview scroll by N lines.
(fzf just scrolls by 1 line, which also would be fine for me, personally, but I imagine some peple do prefer whole page or something between that and 1 line).

[2021-03-19 02:52] lotabout commented on #397
@bionicles Skim knows nothing about the meaning of the content and there is no optimization for filename displays.

There are two possible solutions:
1. Skim provides ways to scroll left/right, bind to `Alt-h`, `Alt-l` by default. So you are not sticked to the default view.
2. With `-d` and `--with-nth` you could format what's shown on the screen. e.g.
[code]
    However this feature is designed t

[2021-03-19 22:38] TakaakiFuruse opened #400 "Preview does not work properly on sk 0.9.4 with fish 3.2.1"
![bug](https://user-images.githubusercontent.com/8233663/111848523-92e70480-894e-11eb-96d5-d1597db5a3e6.gif)

As shown on the gif, the Preview function does not work properly on fish 3.2.1.
I realized after I upgraded to 3.2.1 from 3.2.0.

Once I removed preview,  ` sk --ansi -i -c 'ag --color "{}"'`  it started working properly.
I am totally unsure what is going on, but I am happy to take a look

[2021-03-22 13:01] git314 opened #401 "This is not an issue. Just a question."
Thanks for this great package!

This is not an issue. I am just looking for some guidance and I felt that this question was to specific for stackoverflow so I am asking it here because it is specific to `skim` and `tuikit`

### Goal

I would like to use skim to make a data viewer.

I would like to use the curser to move over column headers, then use some keybinding to sort the data (ascending or d

[2021-03-25 18:12] NightMachinary commented on #383
@igorhub `ivy` does not offer fuzzy matching though, no? I use [fzf](https://github.com/NightMachinary/fzf.el) with it actually.

[2021-03-25 18:24] NightMachinary commented on #317
[**@ghost**](https://github.com/ghost) commented on [Jul 3, 2020, 4:21 AM GMT+4:30](https://github.com/lotabout/skim/issues/317#issuecomment-653264188 "2020-07-02T23:51:54Z - Replied by Github Reply Comments"):

I have specialized commands for searching different categories (e.g., video and code), and it works well with `fzf`. I also have bound `shift+tab` to search over all the files in the curre

[2021-03-27 18:45] #388 closed

[2021-03-31 20:24] murlakatamenka opened #402 "[LIB] Return index of selected item."
I've checked that in `skim 0.8` you could use `SkimItemWrapper::get_index` ([docs](https://docs.rs/skim/0.8.2/skim/struct.ItemWrapper.html#method.get_index)) but that's not the case anymore with current `skim 0.9.4`.

Typical use case: if you build skim entries from a `Vec`, then you don't need to downcast anything and can access selected items by their indexes.

Some inspiration is from `rofi -dm

[2021-04-03 19:52] vitalybe opened #403 "Pre-select should move the cursor in single-select mode"
I was hoping that if I used pre-select I can make the initial cursor "highlight" move to the predefined position. However, it doesn't seem to be the case - All the pre-selects work only in multi-select, and the highlighted item is always the first one.

[2021-04-08 14:26] stevenroose commented on #315
Yeah and the install script also doesn't have the option to do that like fzf's has. I can't really get them to work manually, so I don't think I could contribute them becoming part of the install script.

[2021-04-10 08:26] Konfekt opened #405 "update script"
Dear @lotabout,

I wanted to add the following script to update the skim binary
(say in ~/bin to be run by a cron job) to the [wiki](https://github.com/lotabout/skim/wiki) but I cannot access this page. Below it is:

[code]

[2021-04-16 02:58] RyanGreenup commented on #400
I've been facing a similar issue:

[code]

![sk-bug](https://user-images.githubusercontent.com/47832594/114965184-75587c80-9eb3-11eb-951c-df03cb59d0af.gif)

[2021-04-16 12:08] RyanGreenup commented on #400
This is how I am able to reproduce this on my system:

[code]

if it's relevant, this was on bash 5.1.4.

[2021-04-19 04:56] alexxbb commented on #394
I have a draft of this feature in works: #407

[2021-04-22 17:16] jonathandturner commented on #293
@lotabout - are there any updates on skim supporting Windows?

[2021-04-24 12:06] RyanGreenup commented on #400
So I fixed this by piping the output of `find` into skim, then the command mode and preview would work together, in the absence of piping those into `sk` the would not work together, I could either have a preview (just `cat`) or I could use the command mode.

Regardless, piping find into skim fixes this for me.

[2021-04-26 00:23] InnovativeInventor commented on #111
For those who are using fish, I added [this file](https://raw.githubusercontent.com/lotabout/skim/master/shell/key-bindings.fish) as `~/.config/fish/functions/skim_key_bindings.fish` and added
[code]
to my `config.fish`. Hope this helps!

[2021-04-27 10:28] khlsvr opened #408 "not getting colors with --ansi"
I see that someone https://github.com/lotabout/skim/issues/245 had a problem with colors and tested with the commands below and it was that the newer version had it fixed, but for me I still have the problem. I have 0.9.4 version of sk.

no colors, just black and white:
`fd --color always | sk --ansi`

If I run without `--ansi` I get:
`?[38;5;81msanakirja/?[0m?[38;5;81mkks1/?[0m04_ha.xml`
in the o

[2021-04-29 13:05] Korkman opened #409 "Some keybindings fail when iTerm2 is set to report modifiers with CSI u"
Test:
`echo 1 | sk --bind 'f1:accept'`
Versions:
iTerm2 3.4.6
skim 0.9.4

[2021-04-30 17:37] khlsvr opened #410 "Trying to use the preview.sh and --with-nth but without success"
With preview.sh I always get the preview-window to show lines starting from line 1 onwards and not from the line number the match is found, loading the whole file in question (showing the first x lines depending how many I have chosen to show in --preview-window.

`sk --ansi -i -c 'rg --color=always --line-number "{}" ~/mnt/b ' --preview "preview.sh {}" --preview-window down:10:wrap --ansi --bind=

[2021-05-03 18:19] #322 closed

[2021-05-08 19:19] JacobTravers opened #411 "Support Wildcards / Chain of Fall Backs for "Smart Search""
While speaking of future functionality for the rust file manager [kamyaa/joshuto](https://github.com/kamiyaa/joshuto) the idea of a "smart search" with a "chain of fall backs"  was described [in this comment here](https://github.com/kamiyaa/joshuto/issues/44#issuecomment-824763390) which also refers to an issue in [gokechan/lf](https://github.com/gokcehan/lf) that describes an fzf implementation:

[2021-05-13 01:48] Korkman opened #412 "FreeBSD: skim does not render properly"
Using a fresh install of FreeBSD 13 (minimum install) and skim 0.9.4 via `cargo install skim`, I get this:
![grafik](https://user-images.githubusercontent.com/3186931/118065622-8eaef480-b39d-11eb-94b5-51588efbd5fc.png)

Same rendering issue via SSH and console.

[2021-05-30 01:42] jyoung15 commented on #412
This issue appears to be related to https://github.com/Stebalien/term/issues/44.  I found that installing `misc/terminfo-db` and exporting `TERMINFO=/usr/local/share/terminfo` resolves the issue for me.

[2021-06-04 10:22] denkuy commented on #394
Set `preview` to `Some(...)` value (it just can't be `None`). Now in your `SkimItem` implement `preview` and return one of the "Text" `ItemPreview` values.

Just make sure to never return `ItemPreview::Global` because this would invoke whatever you put in the `preview` config.

[2021-06-22 05:02] MarkuBu opened #414 "skim doesn't search like fzf"
If I compare skim and fzf I see amajor differences. If I enter a search pattern fzf finds what I expect, skim does not

For example: I have the nerd-fonts in my Downloads folder. Inside is a package.json file. If I run fzf with no arguments and enter "dow ne pa" I have a perfect hit. If I do the same in skim I'm not even close to a hit

Another example: I have a clone of QMK with my own layout nam

[2021-06-29 09:52] decathorpe opened #415 "util/test_atoi test failure on 32-bit architectures with int overflow"
https://github.com/lotabout/skim/blob/6df0159/src/util.rs#L471

usize has 32 bits on 32-bit architectures, and the hardcoded number does not fit into 32 bits (it is 2^33).

[code]

[2021-07-23 04:56] ibhagwan opened #418 "Add documentation for use with fzf-lua nvim plugin"
Not really an issue, I saw that you are maintaining [`skim.vim`](https://github.com/lotabout/skim.vim), based off of `fzf.vim`.

I recently wrote [`fzf-lua`](https://github.com/ibhagwan/fzf-lua), as you can probably guess from the name it's an implementation of `fzf.vim` in pure lua, with many more features (icons, git indicators, native LSP support and more).

Yesterday I saw your project and due

[2021-08-15 15:03] ghost opened #419 "Output being returned with ANSI escape codes"
I'm running the following command:

[code]

When selected is echoed, it is shown with colors, and this requires to manually removal of the ANSI escape sequences in order to "descolorize" the output for parsing it, for example, checking if the output is a file or a directory doesn't works at first

I'm using the `sed` to remove colors from the output:

[code]

Is this intended? does `skim` has some

[2021-08-15 15:18] henriquehbr opened #420 "Prompt flashing when changing skim content"
I'm working on a simple file manager based on skim, but whenever i try to navigate across directories, there's a stubborn flash that slightly reveals zsh prompt for a few ms, i know it's not big deal, but it be great if i could get rid of it, already tried everything but no luck, here's my code:

[code]

I know it's ugly and a bit hacky, but it's a proof-of-concept at the moment, any clue of what

[2021-08-15 18:20] perseas12 opened #421 "Execute ncurses programs not working, when skim input is a pipe"
OS: Linux Mint 19.3 Tricia x86_64
Base: Ubuntu 18.04 bionic
Kernel: 5.4.0-74-generic
Shell: bash 4.4.20
skim version: 0.9.4

Install an ncurses program like ncurses disk usage or nnn file manager:
[code]
Run the command:
[code]
Select a directory and press Enter. The directory should open in ncdu, but nothing happens. Press Esc to exit skim. See the ncdu error:
[code]
Run the command:
[code]
Selec

[2021-08-17 15:18] FunctionalHacker opened #422 "Exact complete line match not prioritized"
Coming from fzf, I find it a bit odd, (possible could be even considered a bug) that skim doesn't prioritize a whole line match.

Comparison:

fzf
`printf "slang\nslim\nsl\nslam" | fzf`
![image](https://user-images.githubusercontent.com/16839187/129753346-8f787a73-9605-4fce-9ac0-c53fd87ceb7a.png)

skim
`printf "slang\nslim\nsl\nslam" | sk`
![image](https://user-images.githubusercontent.com/1683918

[2021-08-17 15:27] FunctionalHacker commented on #422
Apparently to match fzf, I can set `--tiebreak=length`

[2021-08-17 15:27] #422 closed

[2021-08-25 15:14] DagurB opened #424 "sk doesnt work in dmenu script"
I have a script to fuzzy find pdf files and then display them with zathura and it works when run in the terminal however when i run it in dmenu sk doesnt seem to return anything.
Here is the script in question.
[code]

[2021-09-05 04:17] ibhagwan commented on #396
If you’re using neovim 0.5 you can use [my fzf plug-in](https://github.com/ibhagwan/fzf-lua) and set it to use `sk` (by setting `fzf_bin = 'sk'` during `setup()`) and open in any split of your choosing, read [here](https://github.com/ibhagwan/fzf-lua/issues/37) how to do it.

[2021-09-05 04:18] ibhagwan opened #425 "Ability to customize interactive mode `ctrl-q` binding"
When using interactive mode, I’d like to use another key to switch between command and query modes, the default is set to `ctrl-q`, I read both the README and man page and couldn’t find how to do it - is that even possible?

if not, would it be possible to add this customization?

[2021-09-07 15:59] julien commented on #396
Thanks @ibhagwan I'll check that out. Since this issue has been around for a while with no activity I'll just close it.

[2021-09-07 15:59] #396 closed

[2021-09-18 05:55] lilydjwg commented on #412
Same here on Android termux, with termux' terminal and ssh (from Linux tmux).

[2021-09-18 06:01] lilydjwg commented on #412
Well, setting `TERMINFO` to the correct directory resolves this. Obviously it doesn't search the compiled-in default location in ncurses (/data/data/com.termux/files/usr/share/terminfo).

[2021-09-26 07:20] lilydjwg opened #426 "UI is not responsive to input over ssh while reading slow input list"
A command is generating the input list slowly, and sk updates the total quickly. Unfortunately this makes UI slow to input when over ssh, perhaps because available bandwidth is occupied by those updates.

[2021-10-06 11:35] paoloschi opened #427 "[question] missed negative look-ahead in --pre-select-pat=REGEX"
By `--pre-select-pat` option, I have unsuccessfully tried to get the preselection of all the voices THAT DO **NOT** MATCH my pattern.
Consulting https://docs.rs/regex/1.4.1/regex I learned that the expression "_**negative look-ahead**_" is not supported and that's really limiting....

but reading further on _docs.rs_, I found this page: https://docs.rs/fancy-regex/0.5.0/fancy_regex:
`The regex syn

[2021-10-06 15:15] paoloschi commented on #427
and this is how it always happens:
- you try for days to solve your problem by yourself
- not getting to the bottom of it, you then decide to bother the developer
- to fiddle the time waiting for the answer, you google some more without conviction
- after a few minutes... BINGO: that's what the solution was!

The long sought-after tip pops up when him wants: in a page dedicated to the javascript l

[2021-10-06 15:27] #427 closed

[2021-10-08 13:03] Konfekt commented on #414
To summarize: Though the matching algorithm of `skim`, for each line piped to it, prioritizes matches at the beginning of each token (separated by slashes `/`, say), among the search string tokens (separated by blanks) it prioritizes the first token only, not the following ones.

[2021-10-10 07:08] io12 opened #428 "nix version 0.19.1 has a security bug"
Running `cargo audit` on this code contains the output

[code]

It might also be worth updating other dependencies, since one of the transient dependencies `crossbeam-deque` also has a security bug with the current version.

[2021-10-20 01:36] tobx opened #430 "Hide fields when searching, return when selected"
Hi,

I would like to pass this to sk:

[code]

And sk should display:

[code]

After selecting `First entry` it should return:

[code]

or even better just `1`.

So one feature would be to hide a field and another one to select the fields to be returned.

[2021-11-01 11:14] joeitu opened #431 "Multi-line support"
Hello,

One of fzf  main lacking features is the support for multiline input. As stated by the main @jungunn, this feature will never be developed as this would require too much refactoring ( see https://github.com/junegunn/fzf/issues/2216#issuecomment-711131555) .

Multiline input would allow to display and format more information in the selection candidate, and therefore create great TUI.

Will

[2021-11-06 03:45] jrmoulton opened #432 "Library: Skim::run_with() return None on exit (Ctrl-C) while in interactive mode"
Is there any way to have run_with return None while in interactive mode if the program is exited? As far as I can tell if the program is suspended while in interactive mode skim::run_with() will return whatever is currently selected. The program will close and exit quickly but I have several lines of code that run even after the program is suspended (I'm not sure why) but because the function stil

[2021-11-06 03:47] jrmoulton commented on #432
Oh never mind. I just found SkimOutput.is_abort(). That fixed my issue. This issue can be closed

[2021-11-12 10:35] dkasak commented on #307
I'm also interested in this. It could be understood as allowing multiple search terms to be input simultaneously, which is basically what skim's "extended search mode" is. The problem is this isn't supported in regex mode, so you can't have multiple *regex* search terms.

[2021-11-12 14:22] fussybeaver commented on #400
Preview with command seems to be working for me again in version `3.3.1`

[2021-11-18 12:24] tobx commented on #314
@lotabout I am not too familiar with the GitHub labels, does `by-design` mean that this is not going to change?

I am wondering about:

[code]

This is showing `a:` instead of `a` in the search. This does not seem right to me.

[2021-11-18 16:45] tobx opened #434 "Bright ansi colors (ansi codes > 7) do not work"
This displays the first line in _red_ and the second in _bright red:_
[code]
The bright colors are not showing with skim:
[code]

I tried this in Ubuntu and on macOS (default terminal applications).

[2021-11-18 21:38] garfieldnate commented on #307
Probably the ticket to follow is over here: https://github.com/BurntSushi/ripgrep/issues/875

[2021-11-30 18:54] mrjones2014 opened #436 "Is there a way to use the filter algorithm as an API?"
Hi, great project! it's awesome. I'm using Skim as a library. In my CLI I have a `--query` option, when passed it matches against the query instead of using the fuzzy finder.

Currently I've implemented the `--query` filtering manually. I'd like it to use the same fuzzy algorithm as the fuzz-finder, ideally though.

Is there a way I can run Skim and just have it return a vec or array of structs th

[2021-12-01 12:44] mrjones2014 commented on #436
I think I figured it out but any feedback would be appreciated https://github.com/mrjones2014/caniuse-rs/commit/a6099dcc246c68b079f21b33b5c8f2ecc8a60d4b

[2021-12-12 18:45] LamprosPitsillos opened #437 "--print-query but print the command query {cq}"
Is there a way for it to print command query if sk is in `-i -c` mode?

[2021-12-22 13:32] #436 closed

[2021-12-23 13:00] JiangWeixian opened #438 "Question: how to display file content as options"
Hey, thanks for you awesome work.

I want to use this lib to display `package.json` name as options instead of `filepath`. But, I can't found out how to convert default options into `PkgItem` options.

[code]

[2022-01-03 12:02] CoelacanthusHex opened #439 "About how to generate completion files"
As we use clap, it can generate completion for shells. https://docs.rs/clap/2.34.0/clap/struct.App.html#method.gen_completions and https://docs.rs/clap/2.34.0/clap/struct.App.html#method.gen_completions_to
So we may not need to process our own completion files from fzf's ones.
We can generate those with clap.

[2022-01-16 14:01] kloenk opened #440 "doc tests are failing in release mode on aarch64-darwin"
running `cargo test --doc --release` files on aarch64-darwin.
[code]

[2022-01-16 14:34] Kloenk commented on #440
This test seems to be failing on `aarch64-linux` aswell:
[code]

[2022-01-17 23:39] petr-tik opened #441 "Please implement std::fmt::Debug for SkimOptions"
hey, thanks for the awesome crate to create interactive fuzzy UIs!

I was trying to work out which skim_options were set to which values with a dbg! macro and found this error

[code]

The Rust lang API guidelines suggest eagerly implementing the Debug trait for crate's public types.

https://rust-lang.github.io/api-guidelines/debuggability.html#c-debug
https://rust-lang.github.io/api-guidelines/i

[2022-01-18 00:35] petr-tik opened #442 "Add a proc macro for testing skim-based applications"
Hey, I was looking around fzf and skim repos to see how people based interactive fuzzy finding UIs.

If I interpret the situation correctly, you decided to copy the approach taken by fzf and use a scripting language (Python) that opens a tty and sends key presses to it.

I was wondering if we could leverage the proc macro powers of rust to implement a skim_test proc macro similar to those provided

[2022-02-15 21:59] abdallahz3 opened #443 "non-interactive mode for skim"
Hi,
I'm trying to use skim where I pass it a list of file name and a query redirect output to a file, I cannot run skim in non-interactive mode
Is there an option for this in skim, unfortunately I cannot seem to find it

[2022-02-16 17:38] abdallahz3 commented on #443
apparently skim also takes `-f` as fzf but it's not shown in the help of skim